/* ==========================================================================
   SECTION: POST META
   ========================================================================== */


// POST META DEFAULTS

.include-post-meta {
	
	font-size: $fg-font-size-s;
	margin-bottom: $fg-post-entry-space;
	min-width: 100%;
	
	
	// STICKY POST LABEL
	
	.featured-post {
		font-weight: 900;
		text-transform: uppercase;
	}
	
	
	
	// ICONS
	
	span {
		
		display: inline-block;
		padding-right: 15px;
						
		&:before {
			position: relative;
			font-family: 'FontAwesome';
			font-size: $fg-font-size-xs;
			padding-right: 5px;
		}
		
		&:first-of-type {
			
			&:before {
				padding-left: 0;
			}			
		}
		
		&.meta-date {
			
			&:before { content: '\f073'; }
		}
		
		&.meta-author {
			
			&:before { content: '\f2be'; }
		}
		
		&.meta-categories {
			
			&:before { content: '\f07c'; }
		}
		
		&.meta-tags {
			
			&:before { content: '\f02b'; }
		}
		
		&.meta-value {
			
			&:before { content: '\f03e'; }
		}
		
		&.meta-comments {

			font-weight: 700;
			
			&:before {
				content: '\f0e6';
			}
		}
	}
	

		
	// HAMBURGER DIVIDER	
				
/*
	span:after {
		position: relative;
		top: -2px;
		font-family: $fg-icon-font-name;
		font-size: 11px;
		padding-left: 15px;
		content: '\f0c9';
	}
	
	span:last-of-type {
		
		&:after {
			display: none;
		}
	}
*/
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-md-max ) {
	
	.post-meta {
		
		span {
			
			&.meta-date {}
			&.meta-author {}
			&.meta-categories { display: none; }
			&.meta-tags { display: none; }
			&.meta-value {}
			&.meta-comments { display: none; }
		}
	}
}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	.post-meta {
		
		span {
			
			&.meta-date {}
			&.meta-author {}
			&.meta-categories {}
			&.meta-tags {}
			&.meta-value {}
			&.meta-comments {}
		}
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.post-meta {
		
		span {
			
			&.meta-date {}
			&.meta-author {}
			&.meta-categories {}
			&.meta-tags {}
			&.meta-value {}
			&.meta-comments {}
		}
	}
}


 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.post-meta {
		
		span {
			
			&.meta-date {}
			&.meta-author {}
			&.meta-categories {}
			&.meta-tags {}
			&.meta-value {}
			&.meta-comments {}
		}
	}
}





/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	.post-meta {
		display: none !important;
	}
}
