/* ==========================================================================
   SECTION: FOOTER WIDGETS
   ========================================================================== */

$fg-footer-link-color:						rgba(255,255,255,0.8)				!default;
$fg-footer-hover-color:						rgba(255,255,255,0.6)				!default;
$fg-footer-forms-color:						rgba(255,255,255,0.4)				!default;
$fg-footer-border-color:					rgba(120,125,133,0.2)				!default;


.footer {
			
	.widget_calendar {
		
		.calendar_wrap {
			
			table {
				
				caption {
					color: $fg-footer-link-color;
				}
				
				& > thead > tr > th {
					border-bottom: 2px solid $fg-footer-border-color;
				}
				
				thead,
				tbody,
				tfoot {
					
					tr {
												
						th, td {
							color: $fg-footer-forms-color;
						}
						
						td {
							border-top: 1px solid $fg-footer-border-color;
						}
					}
				}
	
				tbody {
					
					td:not(.pad) {
						
					a { 
						color: $fg-footer-link-color;
						border-bottom: 2px solid $fg-footer-border-color;
						
						&:hover {
							color: $fg-footer-link-color;
							border-bottom: 2px solid $fg-footer-hover-color;
						}
					}
						
						&:hover,
						&#today {
							background: $fg-footer-bg-color !important;
						}
					}
				}
			}
		}
	}
}	





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	#footer {
		display: none !important;
	}
}