/* ==========================================================================
   SECTION: WIDGETS
   ========================================================================== */

$fg-siderbar-extra-padding:					25px					!default;
$fg-widget-padding:							25px 0					!default;

$fg-widget-font-size:						14px					!default;
$fg-widget-line-height:						1.5						!default;


.sidebar {
	
	.widget {
		
		line-height: $fg-widget-line-height;
		
		.search-submit {
			box-shadow: none !important;
		}
	}
	
	section[id^=presscore-] {
				
		li {
		
			padding: 10px 0 !important;
			margin-top: 0 !important;
		
			&:before {
				display: none !important;
			}
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	.sidebar {
		display: none !important;
	}
}