/* ==========================================================================
   PAGE: FRONT PAGE
   ========================================================================== */

.home {

	// MAIN
	
	#main {
		background: transparent !important;
	}
	
	.page-inner {
	    min-height: auto !important;
	}
	
	
	// CONTENT

	/* intro */
	#home-intro {
		font-weight: 500;
	}
	
	/* buttons */
	.ef-button {
		
		border-bottom: 3px solid $brand-secondary;
		transition: all 0.5s ease 0s;
		text-transform: uppercase;
		font-weight: 500;
		
		.text-wrap {
			white-space: nowrap;
		}
		
		&:hover {
			border-bottom: 3px solid $brand-primary;
			box-shadow: initial !important;
			// background:#353844;
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.home {
		
		.ef-button {
			margin-bottom: 20px;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.home {
		
		#content {
			
			.vc_col-sm-2 {
				display: none !important;
			}
			
			.vc_col-sm-8 {
				
				& > .vc_column-inner  {
					padding-top: 0 !important;
				}
			}
		}
		
		#home-intro {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.6;
			padding: 0 20px;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}