/* ==========================================================================
   PAGE: GRANTS
   ========================================================================== */

.overview,
.application-forms,
.information-for-applicants  {
	
	table {
		
		font-size: 18px !important;
		border-bottom: 0 !important;
		
		strong {
			font-size: 18px !important;
		}
	}
	
	
	.tablepress {
		
		caption {
			display: none;
		}
		
		tr td {
			line-height: 1.2;
			vertical-align: middle !important;
		}
		
		tr:hover td {
			background: rgba(0,0,0,0.1) !important;
		}
	}
	
	.table-container { 
		max-width: 100%; 
		width: 100%; 
		overflow: scroll; 
	}
}



// OVERVIEW

.overview {

	.tablepress {
		
		tr td {
			border-bottom: 1px solid #ccc;
			border-top:  0 !important;
		}
		
		.row-5 td,
		.row-10 td,
		.row-15 td {
			border: 0 !important;
			padding-top: 15px;
		}
		
		&.tablepress-id-4 {
			
			.row-2 td,
			.row-3 td,
			.row-4 td {
				background:  #fff;
			}
		}
		
		.row-2 td,
		.row-4 td,
		.row-7 td,
		.row-9 td,
		.row-12 td,
		.row-14 td,
		.row-17 td,
		.row-19 td {
			background:  #fff;
		}
		
		.row-1:hover td,
		.row-5:hover td,
		.row-6:hover td,
		.row-10:hover td,
		.row-11:hover td,
		.row-15:hover td,
		.row-16:hover td {
			background:  transparent !important;
		}

		td[colspan="2"] {
			text-align: center;
			font-weight: 700;
		}
	}
}



// INFORMATION & FORMS

#application-forms,
#information-for-applicants {
	
	.tablepress {
		
		tr td {
			border: 0 !important;
		}
		
		tr:hover td {
			background: 0 !important;
		}
		
		.btn-shortcode:hover {
			text-decoration: none !important;
		}
	}
}





// INFORMATION FOR APPLICANTS

#information-for-applicants {
	
	.tablepress {
		
		.column-2,
		.column-3 {
			
			text-align: center;
		}
		
		.column-2 {
			
			.btn-shortcode {
				background: #2b589b !important;
			}
		}
		
		.column-3 {
			
			.btn-shortcode {
				background: #c11e07 !important;
			}
		}
	}
}
	
	
	
	

// APPLICATION FORMS

#application-forms {
	
	.tablepress {
		
		.column-2 {
			text-align: center;
		}
	}
}




	







// GRANTS CONTACT
#grants-contact {
	
	width: 100% !important;
	
	a {
		
		word-wrap: break-word;
		
		&[href*="tel"] {
			font-size: 20px;
			word-break: normal;
			white-space: nowrap;
		}
	}
		
	.form-column {
		width: 50%; 
		float: left; 
		padding: 0 15px; 
		box-sizing: border-box;
	}
	
	.wpcf7-form-control-wrap {
		
		display: block;
		position: relative;
		
		// place error messages over inputs and hide with jQuery on hover
		.wpcf7-not-valid-tip {
			position: absolute;
			top: 1px;
			left: 2px;
			margin: 0;
			display: flex;
			align-items: flex-start;
			padding-left: 10px;
			padding-top: 8px;
			color: $brand-danger;
			background: #fff;
			background: transparent;
			font-size: 12px;
		}
	}


	.wpcf7 {
		
		p {
			margin: 0;
		}
		
		textarea {
			height: 182px;
		}
	}
	
	input[type=text],
	input[type=email],
	input[type=tel],
	textarea {
		
		background: rgba(255,255,255,.7);
		transition: all 0.5s ease 0s; 
		
		&:focus {
			background: rgba(255,255,255,.9);
		}
	}
	
	.wpcf7-submit {
		float: right;
	}
}


#grants-contact-instructions {
	
	display: flex;
	padding: 25px 15px 0;
	font-size: 16px;
	line-height: 1.5;
	
	strong {
		font-size: 15px;
	}
}



.video-submission {
	
	.gform_confirmation_message {
		padding: 25px;
		background: #f5f5f5;
		border: 1px solid #e5e5e5;
		font-size: 18px;
		line-height: 1.6;
		font-weight: 500;
		color: $client-color-2;
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (1200px and below)
   ============================================= */

@media ( max-width: 1200px ) {
	
	#grants-contact {
		
		.vc_col-sm-3 {
			width: 20%;
		}
		
		.vc_col-sm-6 {
			width: 60%;
		}
	}
}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	#grants-contact {
		
		.vc_col-sm-3 {
			width: 15%;
		}
		
		.vc_col-sm-6 {
			width: 70%;
		}
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	#grants-contact {
		
		.vc_col-sm-3 {
			width: 0%;
		}
		
		.vc_col-sm-6 {
			width: 100%;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#grants-contact {
				
		#grants-contact-instructions {
			padding-top: 0;
		}
		
		.form-column {
			width: 100%;
		}
	}
	
	.grants {
		
		.grant-contact-box {
			
			.aio-icon-description {
				
				a {
					word-wrap: break-word;
				}
			}
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}