/* ==========================================================================
   SECTION: TNL
   ========================================================================== */

// TML LOGIN

.tml {
	
	margin: 65px auto;
	text-align: center;
	
	
	// LOGIN FORM
	
	label {
		font-size: 14px;
		font-weight: 700;
	}
	
	p {
		margin-bottom: 15px;
	}

	/* form fields */
	input[type="password"],
	input[type="text"] {
		
		padding: 10px;
		margin: 0;
		transition: all 0.3s ease 0s; 
		
		&:focus {
			border-color: #2d3940;
		    color: #3e3e3e;
		}
	}


	/* submit */
	input[type="submit"] {
		background: #333;
	    border-color: #333;
	    color: #fff;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    text-shadow: none;
	    
	    width: 100%;
	    height: auto;
	    margin-top: 15px;
	    border-radius: 6px;
	    padding: 15px;
	    line-height: 1;
	    font-size: 14px;
	    text-transform: uppercase !important;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		
		&:hover {
			background: #555;
		}	
	}
	
	
	.tml-rememberme-wrap {
		display: none;
	}
	
	
	/* action links */
	.tml-action-links {
		
		display: none;
		margin-top: 15px;
		
		li:before {
			display: none;
		}
		
		a {
			color: rgba(53,56,68,.45);
			font-size: 14px;
		}
	}

	.message {
		background: transparent;
		border: 1px dotted rgba(53,56,68,.45);
		font-size: 16px;
		line-height: 1.4;
		text-align: left;
		background: rgba(53,56,68,.05);
	}
	
	
	// LOGGED IN USERS
	
	/* avatar */
	.tml-user-avatar {
		
		text-align: center;
		
		img {
			outline: 5px solid rgba(53,56,68,.2);
			box-sizing: border-box;
		}
	}
	
	.tml-user-links {
		
		list-style: none;
		padding: 0;
		margin: 25px 0 0 0;
		
		li {
			
			padding: 0;
			font-size: 16px;
			border-top: 1px solid rgba(53,56,68,.2); 
			
			&:last-child {
				border-bottom: 1px solid rgba(53,56,68,.2); 
			}
			
			&:before {
				display: none;
			}
			
			&:hover {
				background: rgba(53,56,68,.1); 
			}
			
			a {
				display: block;
				text-decoration: none;
				text-transform: lowercase;
			}
			
			&:nth-of-type(1),
			&:nth-of-type(2) {
				display: none !important
			}
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) { 
	
	.tml {
		
		margin-top: 20px;
		
		.message {
			font-size: 15px;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}