/* ==========================================================================
   PAGE: STAKEHOLDER
   ========================================================================== */

.pilot,
.voting-guidance,
.stakeholders {
	
	// VIDEOS
	
	.cvm-playlist-wrap {
		
		border-bottom: none !important;
		
		.cvm-playlist {
			
		    padding: 0 !important;
		    height: auto !important;
		    border-bottom: none !important;
		    
			.cvm-playlist-item {
				
			    padding: 0 !important;
			    border-bottom-color: #f1f1f1 !important;
			 	
			 	&:last-of-type {
			 		border-bottom: none !important;
				}
				
				a {
					
				    display: flex;
				    align-items: center;
				    padding: 5px 10px;
				    font-size: 18px;
				    font-weight: 500;
				    line-height: 1;
				    color: #000;
				    
				    &:hover {
					    background: #f1f1f1;
					}
					
					&::visited {
					    background: #f1f1f1;
					    color: #ccc;
					}
					
					img {
					    min-width: 55px;
					}
					
					.duration {
					    padding-left: 5px;
					    flex-grow: 2;
					    text-align: right;
					    padding-right: 5px;
					    font-size: 16px;
					}
				}
				
				&:nth-of-type(odd) a {
				    background: #e1e1e1;
				}
				
				&:nth-of-type(even) a {
				    background: #e9e9e9;
				}
			}
		}
	}
	
	
	
	
	.dt-btn {
	    background: #c11e07 !important;
	}
	
	
	
	/* tabs */	

	
	
	.vc_toggle_title {
		
	    text-align: center;

// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;

	    background: #fff;
	    padding: 0;
	    font-size: 18px;
	    
	    h4 {
		    font-weight: 700 !important;
		}
		
		.vc_toggle_icon {
			
			&::before,
			&::after {
				border-color: $brand-primary !important;
			}
		}
	}
	
	.vc_toggle_content {
	    background: #f1f1f1;
	    padding: 15px 25px;
	    font-size: 18px;
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {

	.pilot,
	.voting-guidance,
	.stakeholders {

		.wpb_tabs_nav {
			
			flex-direction: column;
			
		    li:nth-of-type(2) {
			    border-top: 2px solid #fff;
			    border-bottom: 2px solid #fff;
		    }
		}
		
		/* remove line break on mobiles */
		.video-intro {
			
			br {
				display: none;
			}
		}
	}
}




/* =============================================
   MOBILE AND UP (480px and up)
   ============================================= */

@media ( min-width: $screen-xs ) {
	
	.pilot,
	.voting-guidance,
	.stakeholders {

		.wpb_tabs_nav {
		    
		    li {

			    border-left: 2px solid #fff;
			    border-right: 2px solid #fff;
			    
			    &:first-of-type {
				    border-left: 0;
			    }
			    
			    &:last-of-type {
				    border-right: 0;
			    }
		    }
		}
	}
}


/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast:  active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}