/* ==========================================================================
   PAGE: PRIVACY POLICY
   ========================================================================== */

.privacy-policy {

	.vc_tta-panel-heading {
		
		border: none !important;
		
		&:hover {
			background: transparent !important;
		}
	}
	
	
	div, p, li, .vc_tta-panel-title { font-size: 18px !important; line-height: 1.5 !important; }
	
	#cookies + .wpb_text_column { 
		margin-bottom: 10px; 
	}
	
	.vc_tta-panel-title a { 
		
		padding: 0 !important; 
		
		b { 
			font-weight: inherit; 
		}
	}
	
	.vc_tta-panel-body { 
		padding: 0 !important; 
	}
	
	.vc_tta-container { 
		margin-bottom: 35px !important; 
	}
	
	.vc_tta-title-text {
		
		font-weight: 500;

		i { 
			font-style: normal !important; 
			color: #999; 
		}
	}
}


// .wpb-js-composer .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}