/* ==========================================================================
   PAGE: VIMEO VIDEO SINGLE
   ========================================================================== */

.single-vimeo-video {
	
	.post-thumbnail {
		display: none;
	}
	
	.cvm_single_video_player {
		min-width: 100%;
	}
	
	#include-post-navigation {
		
		a {

			font-size: 16px;
			font-weight: 500;
			line-height: 1.2;
			
			&:hover {
				background: $dark-blue !important;
			}
		}
	}
}



.post-type-archive-vimeo-video {
	
	#content {
		
		padding-left: 0 !important;
		padding-right: 0 !important;
				
/*
		font-size: 0;
		
		.tml {
			color: #000;
			font-size: initial;
			margin-top: 30px !important;
		}
*/
		
/*
		.wf-container {
			
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			height: auto !important;
			
			.wf-cell {
				position: static !important;
				width: 50% !important;
			}
		}
*/
		
		
		.vimeo-video {
			
			padding-top: 10px;
			padding-bottom: 10px;
			
			.entry-title {
				margin-bottom: 20px;
				padding-top: 0 !important;
				font-weight: 300;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 1.2;
			}
		}
	}
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.post-type-archive-vimeo-video {
		
		#content {
			
			.wf-container {

				.wf-cell {
					width: 100% !important;
				}
			}
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}