/* ==========================================================================
   PAGE: NEWS
   ========================================================================== */

.news {

	.ult_tabmenu {
		
		display: flex;
		justify-content: center;
		font-size: 14px !important;
		
		
		li {
			width: 20%;
			margin: 0 5px 25px 5px !important;
		}
		
		
		a {
			
			width: 100%;
			
			font-size: 14px !important;
			font-weight: 700 !important;
			text-transform: uppercase;
			
			padding: 0 10px !important;
			background: #f1f1f1 !important;
			border-bottom: 2px solid $brand-primary !important;
			
			* {
				text-align: center;
				width: 100%;
			}
			
			&:hover {
				color: #fff !important;
				background: $brand-primary !important;
				border-bottom: 2px solid $brand-primary !important;
			}
		}
		
		.current {
			
			a {
				color: #fff !important;
				background: $brand-primary !important;
				border-bottom: 2px solid $brand-primary !important;
			}
		}
		
		.ult-span-text {
			margin: 0 !important;
			display: inline !important;
		}
	}	
}



.blog-shortcode {
	
	.type-post {
		
		margin-top: 50px;
		
		&:first-of-type {
			margin-top: 0;
		}
	}
	
	.post-thumbnail-wrap {
		
		& + .post-entry-content {
			margin-top: -100px !important;
		}
	}
	
	.post-entry-content {
		
		padding: 25px 30px 30px 30px !important;
	    width: 75% !important;
	    background-color: #f7f7f7 !important;
	    background-color: #fff !important;
	    
	    .entry-title {
		    margin-bottom: 0 !important;
			font-size: 32px;
			font-weight: 400 !important;
			font-family: $inc-font-family-serif;
			padding-left: 10px;
			border-left: 3px solid  $brand-primary;
	    }
	    
	    .entry-meta {
		    margin-top: 0 !important;
		    // padding-top: 10px;
		    margin-bottom: 10px;
			padding-left: 10px;
			border-left: 3px solid  $brand-primary;
	    }
	    
	    .entry-excerpt {
		    // font-family: $inc-font-family-serif;
		    font-size: 18px;
	    }
	    
	    .details-type-link {
		    margin-top: 5px;
	    }
	}
}



.single-post {
	
	#main {
		padding-top: 100px;
	}
	
	// content width
	.wf-container-main {
		display: flex;
		justify-content: center;
	}
	
	// the7 page title
	.page-title {
		
		min-height: 10px !important;
		height: 10px !important;
		
		.entry-title {
			display: none;
		}
	}
	
	// new page titile
	#page-title {
		
		h1 {
			font-size: 48px;
			font-family: $inc-font-family-serif;
		}
	}
	
	// thumbnail cption
	.post-thumbnail-caption {
		display: block;
		margin-top: 10px;
		color: $gray-light;
	}
	
	// post meta
	.entry-meta {
		justify-content: flex-start;
	}
	
	.post-meta {
		margin-bottom: 35px;
	}
	
	#content {
		
		width: 65%;
		
		// blog typoghraphy & ui
		.type-post {
			// @extend .inc-post-paragraph;
			// @extend .inc-post-ui;
			
			.entry-content {
				
				@extend .inc-gutenberg;
				
				.intro-paragraph {
					
					// @extend .include-padded-text;
					
					font-size: 22px;
					font-style: italic;
					margin-bottom: 32px;
					
/*
					&::after {
						display: block;
						content: '';
						height: 48px;
					}
*/
				}
				
				.wp-block-button {
					
					.wp-block-button__link {
						background: $brand-primary;
						padding: 8px 20px;
						font-size: 14px;
						font-weight: 700;
					}
				}
			}
		}
	}
	
	.essb_links {
		margin: 80px 0;
	}
}



.archive {
	
	.entry-title {
		font-size: 28px;
	}
	
	.entry-meta {
		
		.author {
			display: none;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	.news {

		.ult_tabmenu {
			
			display: flex !important;
			justify-content: center !important;
			flex-wrap: nowrap !important;
			
			li {
				width: 50%;
				margin-bottom: 5px !important;
			}
		}
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.blog-shortcode {
		
		.post-thumbnail-wrap {
			
			& + .post-entry-content {
				margin-top: -50px !important;
			}
		}

		.post-entry-content {
			
			padding: 0 !important;
		    width: 85% !important;
		    background-color: #f7f7f7 !important;

		    .entry-title {
			    font-size: 20px;
		    }
		    
		    .entry-excerpt {
			    font-size: 18px;
			    line-height: 1.5;
		    }
		}
	}
	
	
	.single-post {

		#content {
			width: 100%;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}