/* ==========================================================================
   SECTION: POST ENTRY
   ========================================================================== */

.page,
.single {

	.page,
	.entry-content,
	.post-entry,
	.comment-content {
		
		// text-links
		p {
			
			a {
				
				color: $brand-secondary;
				
				&:hover {
					color: lighten( $brand-secondary, 15% );
				}
			}
		}
		
					
		ul,
		ol {
		
			margin-top: $fg-post-entry-space;
			margin-bottom: $fg-post-entry-space;
			line-height: $fg-list-line-height;
			
			li {
				
				padding-top: $fg-post-entry-xs;
				padding-bottom: $fg-post-entry-xs;
				
				&:first-of-type {
					padding-top: 0;
				}
				
				&:last-of-type {
					padding-bottom: 0;
				}
				
				li {
					
					&:first-of-type {
						padding-top: 0;
					}
					
					&:last-of-type {
						padding-bottom: 0;
					}
				}
			}
					
			ul,
			ol {
				padding-top: $fg-post-entry-xs;
				padding-bottom: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		
		
		ol {
			
			padding-left: 50px;
			
			ol {
				padding-left: 25px;
			}
		}
		
	
		ul {
			@extend .iconlist;
			
			li {
				
				&:before {
					color: $brand-primary;
				}
			}
		}
		
		
	/*
		dl {
			@extend .dl-horizontal;
		}
	*/
		
		
		blockquote {
			@extend .inc-blockquote;
		}
		
		
		table {
			@extend table;
			@extend .table-striped;
		}
	}
}









/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
