/* ==========================================================================
   BEVELLED CORNERS
   ========================================================================== */
   
$fg-bevel-color:						#ccc			     			!default;	
$fg-bevel-width:						10px							!default;	


   
/* BEVEL */

.bevel.all {
    background: $fg-bevel-color; /* default color */
    background:
        -moz-linear-gradient(		45deg,  	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		135deg,		transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		315deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -o-linear-gradient(			45deg,  	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			135deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			315deg, 	transparent		 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -webkit-linear-gradient(	45deg,  	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	135deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	315deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
}

.bevel.tlbr {
    background: $fg-bevel-color; /* default color */
    background:
        -moz-linear-gradient(		45deg,  	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		135deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		225deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		315deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -o-linear-gradient(			45deg,  	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			135deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			225deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			315deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -webkit-linear-gradient(	45deg,  	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	135deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	225deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	315deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
}

.bevel.trbl {
    background: $fg-bevel-color; /* default color */
    background:
        -moz-linear-gradient(		45deg,  	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -o-linear-gradient(			45deg,  	transparent 		$fg-bevel-width,		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			225deg,		transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -webkit-linear-gradient(	45deg,  	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
}

.bevel.bl {
    background: $fg-bevel-color; /* default color */
    background:
        -moz-linear-gradient(		45deg,  	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		225deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -o-linear-gradient(			45deg,  	transparent 		$fg-bevel-width,		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			225deg,		$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -webkit-linear-gradient(	45deg,  	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	225deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
}

.bevel.tr {
    background: $fg-bevel-color; /* default color */
    background:
        -moz-linear-gradient(		45deg,  	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -moz-linear-gradient(		315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -o-linear-gradient(			45deg, 		$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -o-linear-gradient(			315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
    background:
        -webkit-linear-gradient(	45deg,  	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	135deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	225deg, 	transparent 		$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width),
        -webkit-linear-gradient(	315deg, 	$fg-bevel-color 	$fg-bevel-width, 		$fg-bevel-color 		$fg-bevel-width);
}

.bevel.all, 
.bevel.trbl, 
.bevel.tlbr, 
.bevel.bl,
.bevel.tr {

    background-position: bottom left, bottom right, top right, top left;

     -webkit-background-size: 50% 50%;
    	-moz-background-size: 50% 50%;
    		 background-size: 50% 50%;
    		 
    background-repeat: no-repeat;
    
    margin-bottom: 15px;
    padding: 15px;
}