/* ==========================================================================
   UI: BROWSEHAPPY
   ========================================================================== */

/*----- VARIABLES -----*/

$fg-bh-font-size:	 				16px			 		!default;
$fg-bh-background:	 				#000 					!default;
$fg-bh-color:	 	 				#fff 					!default;
$fg-bh-link-color:	 	 			$brand-primary	 		!default;
$fg-bh-padding:	 					20px 0 					!default;


/*----- BROWSE HAPPY -----*/

#browsehappy {
	
	display: none;
	
	margin: 0;
	padding: $fg-bh-padding;
	
    background: $fg-bh-background;
    color: $fg-bh-color;
        
    font-family: inherit;
    font-size: $fg-bh-font-size;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    
    a {
		
		color: $fg-bh-link-color;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	span {
		
		float: right;
		display: inline-block;
		margin-right: 15px;
		
		&:hover {
			cursor: pointer;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	#browsehappy {
		display: block !important;
	}
}


/* =============================================
   IE 9--
   ============================================= */

.old-ie #browsehappy {
	display: block !important;
}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	#browsehappy {
		display: none !important;
	}
}