/* ==========================================================================
   UI - BUTTONS
   ========================================================================== */

.fg-button-s {
	line-height: 1;
	font-family: inherit;
	font-size: $fg-font-size-s;
	padding: 5px 15px;
}

.fg-button-l {
	line-height: 1;
	font-family: inherit;
	font-size: $fg-font-size-base;
	padding: 10px 30px;
}

.fg-button-xl {
	line-height: 1;
	font-family: inherit;
	font-size: $fg-font-size-xl;
	padding: 20px 65px;
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (768px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max + 1 ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}