@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-SemiBold.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-SemiBold.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-Medium.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-Medium.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-Thin.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-Thin.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-Regular.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-Regular.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-ExtraBold.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-ExtraBold.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-Light.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-Light.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-ExtraLight.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-ExtraLight.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-Black.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-Black.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran/Catamaran-Bold.woff2') format('woff2'),
        url('../fonts/Catamaran/Catamaran-Bold.woff') format('woff'),
        url('../fonts/Catamaran/Catamaran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
