@font-face{ 
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff'),
	     url('../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{ 
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff'),
	     url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{ 
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-Light.woff') format('woff'),
	     url('../fonts/RobotoCondensed/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{ 
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff') format('woff'),
	     url('../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{ 
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-Italic.woff') format('woff'),
	     url('../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{ 
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff') format('woff'),
	     url('../fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
