/* ==========================================================================
   DASHBOARD STYLES
   ========================================================================== */

/* UPDATE NOTICES */

/* Hide 'Admin Menu Editor' Upgrade Notices */
#wp-optimize-dashnotice,
#ws_sidebar_pro_ad,
#ws-pro-version-notice,
.ame-is-free-version .updated,
.otw-factory-warning,
.itsec-notice,
#itsec-notice-network-brute-force,
#ame-plugin-menu-notice,
.bsf-update-nag,
#wf-extended-protection-notice,
.rs-update-notice-wrap,
.updated.fade,
.pum-notice.is-dismissible,
#setting-error-tgmpa,
.pb-custom-message,
.wp-header-end + .notice,
.wp-admin .wrap .notice {
	display: none !important;
}


/* THEME CUSTOMIZER */

/* Hide Menu Section In Theme Customizer */
/*
#accordion-panel-nav_menus,
#accordion-panel-widgets {
	display: none !important;
}
*/


/* Hide Setion With Demo Controls In Theme Customizer */
#accordion-section-section_id,
#accordion-section-lmm_css,
#accordion-panel-lmm_layout_main_menu,
#accordion-panel-lmm_layout_top_bar {
	display: none !important;
}


/* Increase Height Of Google Analytics Textarea */
#accordion-section-fg_analytics_section textarea {
	height: 200px !important;
}


/* SUBSCRIBE TO COMMENTS RELOADED */

/* Hide Donate Tab For 'Subscribe To Comments Reloaded' */
#wpbody .wrap .donate-tab {
	display: none !important;
}


/* CUSTOM SIDEBARS */

/* Custom Sidebars - widgets page */
.custom-sidebars-checkup {
	display: none !important;
}

.widget-liquid-right {
	background: transparent !important;
}

/* Custom Sidebars - page options */

#cs-title-options {
	background: transparent !important;
	border: none !important;
}

#customsidebars-mb .inside img {
	display: none !important;
}

#customsidebars-mb .inside li {
	display: none !important;
}

#customsidebars-mb .inside li:first-child {
	display: block !important;
}

#customsidebars-mb .inside select {
	min-width: 100% !important;
}

/* admin column */  
/*
.wp-list-table #cs_replacement,
.wp-list-table .cs_replacement {
	display: none !important;
}
*/


/* MAINTENANCE */

#poststuff #promo {
	display: none !important;
}

#poststuff #all-fileds {
	width: 100% !important;
}


/* COMMENTS */

.comment-php #wpb_visual_composer {
	display: none !important;
}


/* ADMIN COLUMNS */

.ac-right-inner #ac-pro-version,
.ac-right-inner #direct-feedback {
	display: none !important;
}

