/* ==========================================================================
   UI: POST SHORTCODE
   ========================================================================== */

#post-shortcode-wrapper {
	
	// PAGE LIST
	
	ul.post-list-wrapper {
		@extend .iconlist;
	}

	
	// POST LIST
	
	div.post-list-wrapper {
		
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	
		.post-list-thumb {
			
			margin-right: 15px;
			width: 40%;
			
			a {
				
				display: block;
				background-position: center center !important;
				background-repeat: no-repeat !important;
				transition: all 1s ease 0s !important;
				
				&.post-thumbnail {
					
					background-size: auto 100% !important;
									
					&:hover {
						background-size: auto 125% !important;
					}
				}
				
				&.no-thumbnail {
					background-size: 50% !important;
					background-color: #e5e5e5 !important;
					
					&:hover {
						background-size: 65% !important;
					}
				}
			}
		}
		
		.post-list-content {
						
			.post-title {
				margin-top: 0;
				margin-bottom: 10px;
			}
			
			.custom-excerpt {
				line-height: 1.5;
			}
		}
	}
	
	
	// PAGE GRID
	
	ul.post-grid-wrapper {
		
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		
		
		li {
			
			display: flex;
			position: relative;
			padding: 15px;
			margin: 15px;
			width: calc( 33.3333% - 30px );
			list-style: none;
			box-sizing: border-box;
			justify-content: center;
			align-items: center;
			
			a {
				
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				text-align: center;
				line-height: 1.3;
				
				background-position: center center !important;
				background-repeat: no-repeat !important;
				transition: all 1s ease 0s !important;
				
				&.post-thumbnail {
					
					background-size: auto 100% !important;
					
					&:hover {
						background-size: auto 125% !important;
					}
				}
				
				&.no-thumbnail {
					
					background-size: 50% !important;
					background-color: #e5e5e5 !important;
					background-blend-mode: overlay !important;
					
					&:hover {
						background-size: 65% !important;
					}
				}
				
				.post-list-content {
					
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					background: rgba(0,0,0,0.15);
					
					transition: all 0.3s ease 0s;
					
					&:hover {
						background: rgba(0,0,0,0);
					}
					
					.post-title {
						margin: 0;
						text-align: center;
						font-size: 24px;
						font-weight: 300;
						color: #fff;
					}
					
					.custom-excerpt {}
				}				
			}
		}
	}
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#post-shortcode-wrapper {
		
		.blog-grid-wrapper {
			
			li {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}