/* ==========================================================================
   BLOCKQUOTE
   ========================================================================== */

$fg-quote-mark-color:				$client-color-2			     									!default;
$fg-quote-color:					$gray-light				     									!default;
$fg-cite-color:						$gray											     			!default;

$fg-quote-mark-font-family:			Georgia, "Times New Roman", Times, serif		     			!default;
$fg-quote-font-family:				$fg-headings-font-family						     			!default;
$fg-cite-font-family:				$fg-font-family-sans-serif						     			!default;

$fg-quote-font-size:				100px											     			!default;		


.fg-blockquote {
	
	border: none;
	quotes: "\201C""\201D""\2018""\2019";
	margin-top: -130px;
	margin-left: 20px;
	
	&:before { 
		content: open-quote;
		position: relative;
		top: 110px;
		font-size: $fg-quote-font-size;
		font-weight: bold;
		font-family: $fg-quote-mark-font-family;
		color: $fg-quote-mark-color;
	}
	
	&:after {
	  visibility: hidden;
	  content: close-quote;
	}
	
	q {
		quotes: none;
		padding-left: 80px;
		font-size: 26px;
		display: block;
		font-family: $fg-quote-font-family;
		line-height: 1.2;
		color: $fg-quote-color;
	}

	cite {
		display: block;
		margin-top: 10px;
		text-align: left;
		font-size: 14px;
		color: $fg-cite-color;
		font-weight: 400;
		font-style: normal;
		font-family: $fg-cite-font-family;
	}
}