/* ==========================================================================
   SHORTCODE: META SEARCH
   ========================================================================== */


.fg-meta-search {
	
	select {
		@extend .styled-select;
	}
}

.ms-checkbox {
	
	margin-bottom: 0;
	
	.checkbox-title {
		font-weight: 700;
	}
	
	& + .checkbox-content {
		
		margin-top: 5px;
		
		label {
			
			font-weight: normal;
			display: block;
			margin-bottom: 5px;
			
			input[type="checkbox"] {
				margin-top: 0;
			}
		}
	}
}