/* ==========================================================================
   UI: POST SHORTCODE
   ========================================================================== */

// TAXONOMY GRID

#fg-taxonomy-grid {
		
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	
	li {
		
		display: flex;
		position: relative;
		padding: 15px;
		margin: 15px;
		width: calc( 33.3333% - 30px );
		list-style: none;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		
		a {
			
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			text-align: center;
			line-height: 1.3;
			
			background-position: center center !important;
			background-repeat: no-repeat !important;
			background-size: auto 100% !important;
			
			transition: all 1s ease 0s !important;
			
			&:hover {
				background-size: auto 125% !important;
			}
			
			span {
				
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				
				font-size: 24px;
				font-weight: 300;
				color: #fff;
				background: rgba(0,0,0,0.15);
				
				transition: all 0.3s ease 0s;
				
				&:hover {
					background: rgba(0,0,0,0);
				}
			}				
		}
	}
}


// TAXONOMY CLOUD

#fg-taxonomy-cloud {
	
	text-align: center;
	
	a {
		
		display: inline-block;
		margin: 10px;
		
		border-radius: 50px;
		padding: 10px 30px;
		border: solid 1px $client-color-2;
		
		
		font-size: 14px !important;
		line-height: 1 !important;
		text-align: center;
		color: $gray-light;
		text-decoration: none;
		text-transform: lowercase;
		
		transition: all 0.3s ease 0s; 
		
		&:hover {
			background: $client-color-2;
			color: #fff;
		}
	}
}


// TAXONOMY SELECT

#fg-taxonomy-select {
	@extend .styled-select;
}


// TAXONOMY LIST

#fg-taxonomy-list {
	@extend .iconlist;
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#fg-taxonomy-grid {
		
		li {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}