/* ==========================================================================
   SECTION: AUTHOR BOX
   ========================================================================== */

#include-author-box {
	
	@include clearfix();
	
	margin-top: $fg-section-space-m;
	margin-bottom: $fg-section-space-m;
	padding: 50px 25px;
	background: $gray-lighter;
	border-radius: $border-radius-fancy;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	li { 
		display: inline-block; 
	}
	
	#author-info {
		
		display: flex;
		margin-bottom: $fg-post-entry-space;
	
		// avatar
		#author-avatar {
			
			width: 10%;
			margin-right: 20px;
			
			img {
				border-radius: 50%;
				margin: 0 auto;
			}
		}
		
		// title & bio
		#author-bio {
			
			width: 90%;
			overflow: hidden;
			
			h4 {
				margin-top: 0;
				margin-bottom: 5px;
				font-size: $fg-font-size-m;
			}
			
			.read-more {
				
				font-size: $fg-font-size-s;
				font-weight: 700;
				display: inline-block;
				
				transition: all 0.3s ease 0s; 
				
				&:hover {
					margin-left: 10px;
				}
			}
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
