/* ==========================================================================
   TABLES - VARIABLES
   ========================================================================== */

/* Typography */
$fg-table-font-size: 						($fg-font-size-base * 0.75)				!default;
$fg-table-line-height:         				$fg-line-height-base 					!default;

$fg-table-header-font-size: 					($fg-font-size-base * 0.75)				!default;
$fg-table-header-font-weight: 				700										!default;

/* Layout */
$fg-table-cell-padding:            			8px						 				!default;
$fg-table-condensed-cell-padding:  			5px				 						!default;

/* Colors */
$fg-table-bg:                		      	transparent 							!default;
$fg-table-bg-accent:  		             	rgba(0,0,0,0.05)						!default;
$fg-table-bg-hover:  		              	rgba(0,0,0,0.08)						!default;
$fg-table-bg-active: 		              	$fg-table-bg-hover 						!default;
$fg-table-border-color:           		 	$gray-lighter 							!default;
$fg-table-font-color: 						$fg-text-color 							!default;
$fg-table-font-hover-color: 					$fg-text-color 							!default;
$fg-table-font-bg-accent-color: 				$fg-text-color							!default;
