/* ==========================================================================
   FORMS - VARIABLES
   ========================================================================== */

/* -- Default -- */

$fg-form-font-size: 					( $fg-font-size-base * 0.85 ) 					!default;
$fg-form-line-height-s: 					$fg-line-height-s					 			!default;
$fg-form-line-height-l: 					1.5												!default;
$fg-form-text-color:                  	$gray 											!default;


/* -- Label -- */

$fg-label-font-weight: 					700					 							!default;
$fg-required-color:     	           		$brand-danger 									!default;
$fg-label-margin:						$fg-post-entry-xs 0								!default;


/* -- Input -- */

/* layout */
$fg-input-height: 						( $fg-form-font-size * 2.5 )				 	!default;
$fg-input-padding: 						5px 10px									 	!default;
$fg-input-margin-top:					$fg-post-entry-xs								!default;


/* border */
$fg-input-border-width:					2px	 											!default;
$fg-input-border-radius:				0					 							!default;
$fg-input-border-color:					$gray-lighter  									!default;
$fg-input-border-focus:             	$gray 											!default;

/* background */
$fg-input-bg:                     	  	rgba(255,255,255,0.7) 							!default;
$fg-input-bg-focus:       		       	$gray-lighter 									!default;
$fg-input-bg-disabled:             	 	$gray-lighter 									!default;


/* placeholder */
$fg-placeholder-color:      		  		$gray-light										!default;


/* -- Textarea -- */

$fg-textarea-height: 					( $fg-form-font-size * 10 )						!default;


/* -- Radio / Check -- */

$fg-radio-margin:						$fg-post-entry-xs 8px $fg-post-entry-xs 0		!default;


/* -- Submit -- */

$fg-sumbit-padding:						10px 15px										!default;
$fg-submit-text-transform: 				uppercase					 					!default;
$fg-submit-bg:                     	  	$brand-primary 									!default;
$fg-submit-color:                     	#fff		 									!default;


/* -- Form Validation -- */

$fg-form-validation-error:				$brand-warning 									!default;
$fg-form-submit-ok:						$brand-success 									!default;
$fg-valid-tip-font-size:					( $fg-form-font-size * 0.85 )					!default;


/* -- Legends -- */

$fg-legend-color:                   		$gray-dark 										!default;
$fg-legend-border-color:            		$gray-lighter  									!default;

/* -- Input Group -- */

$fg-input-group-addon-bg:           	$gray-lighter 									!default;
$fg-input-group-addon-border-color: 		$fg-input-border-color							!default;
