/* ==========================================================================
   FONTS
   ========================================================================== */ 

/* ROBOTO (100,300,400,500,700,900) */

// @link  https://fonts.google.com/specimen/Roboto
// @link  https://github.com/google/roboto/

// @import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// @link  https://fonts.google.com/specimen/Roboto+Mono

// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');


@import '../../fonts/Roboto/Roboto'; 
@import '../../fonts/RobotoCondensed/RobotoCondensed';
// @import '../../fonts/RobotoMono/RobotoMono';



/* CATAMARAN (100,200,300,400,500,600,700,800,900) */

// @link  https://fonts.google.com/specimen/Catamaran
// @link  https://github.com/catamaran

// @import url('https://fonts.googleapis.com/css?family=Catamaran');
// @import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext');


@import '../../fonts/Catamaran/Catamaran'; 



/* AMBLE (300,400,700) */

// @import '../../fonts/Amble/Amble';
// @import '../../fonts/Amble/AmbleCondensed';



/* CAVIAR DREAMS (400,700)*/

// @import '../../fonts/CaviarDreams/CaviarDreams';



/* CODA (400,800) */

// @link  https://fonts.google.com/specimen/Coda

// @import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

// @import url('https://fonts.googleapis.com/css?family=Coda');
// @import url('https://fonts.googleapis.com/css?family=Coda:400,800');

// @import '../../fonts/Coda/Coda'; 



// serif

/* COMPREHENSION (600) */

// @import '../../fonts/Comprehension/Comprehension';



/* CRIMSON (400,600,700) */

// @link  https://fonts.google.com/specimen/Crimson+Tex

// @import url('https://fonts.googleapis.com/css?family=Crimson+Text');
// @import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');

// @import '../../fonts/Crimson/Crimson';



/* MERRIWEATHER (300,400,700,900) */

// @link  https://fonts.google.com/specimen/Merriweather

// @import url('https://fonts.googleapis.com/css?family=Merriweather');
// @import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');

@import '../../fonts/Merriweather/Merriweather'; 



// icon

/* FONT AWESOME */

// @import '../../fonts/FontAwesome/FontAwesome';
// @import '../../bower/fontawesome/web-fonts-with-css/scss/fontawesome';

// @import '../../bower/fontawesome/scss/animated';
// @import '../../bower/fontawesome/scss/bordered-pulled';
// @import '../../bower/fontawesome/scss/core';
// @import '../../bower/fontawesome/scss/fixed-width';
// @import '../../bower/fontawesome/scss/icons';
// @import '../../bower/fontawesome/scss/larger';
// @import '../../bower/fontawesome/scss/list';
// @import '../../bower/fontawesome/scss/mixins';
// @import '../../bower/fontawesome/scss/path';
// @import '../../bower/fontawesome/scss/rotated-flipped';
// @import '../../bower/fontawesome/scss/screen-reader';
// @import '../../bower/fontawesome/scss/stacked';
// @import '../../bower/fontawesome/scss/variables';



/* DASHICONS */

// @import '../../fonts/Dashicons/Dashicons';



/* PAPYRUS */

// @import '../../fonts/Papyrus/Papyrus';



/* AMPERSAND */

// @import '../../fonts/Ampersand/Ampersand';







/* LATO */

// @link  https://fonts.google.com/specimen/Lato

// @import url('https://fonts.googleapis.com/css?family=Lato');
// @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


// @import '../../fonts/Lato/LatoHairline';
// @import '../../fonts/Lato/LatoLight';
// @import '../../fonts/Lato/LatoRegular';
// @import '../../fonts/Lato/LatoBold';
// @import '../../fonts/Lato/LatoBlack';

// @import '../../fonts/Lato/LatoHairlineItalic';
// @import '../../fonts/Lato/LatoLightItalic';
// @import '../../fonts/Lato/LatoItalic';
// @import '../../fonts/Lato/LatoBoldItalic';
// @import '../../fonts/Lato/LatoBlackItalic';



/* OPEN SANS */

// @link  https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans

// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
   

// @import '../../fonts/OpenSans/OpenSansLight'; 
// @import '../../fonts/OpenSans/OpenSansRegular';
// @import '../../fonts/OpenSans/OpenSansSemibold'; 
// @import '../../fonts/OpenSans/OpenSansBold';
// @import '../../fonts/OpenSans/OpenSansExtrabold';

// @import '../../fonts/OpenSans/OpenSansLightItalic';
// @import '../../fonts/OpenSans/OpenSansItalic';
// @import '../../fonts/OpenSans/OpenSansSemiboldItalic';
// @import '../../fonts/OpenSans/OpenSansBoldItalic';
// @import '../../fonts/OpenSans/OpenSansExtraboldItalic';

// @import '../../fonts/OpenSans/OpenSansCondensedLight';
// @import '../../fonts/OpenSans/OpenSansCondensedBold';

// @import '../../fonts/OpenSans/OpenSansCondensedLightItalic';
