/* ==========================================================================
   COLORS
   ========================================================================== */

/*----- GRAY -----*/

$gray-darker:           			lighten(#000, 10%) 				!default; // #1a1a1a
$gray-dark:             			lighten(#000, 30%) 				!default; // #4d4d4d
$gray:                  			lighten(#000, 50%) 				!default; // #808080
$gray-light:            				lighten(#000, 70%) 				!default; // #b3b3b3
$gray-lighter:          				lighten(#000, 90%) 				!default; // #e6e6e6

$fg-gray-e6:          				$gray-lighter			 		!default;
$fg-gray-f1:          				#f1f1f1			 				!default;
$fg-gray-f5:          				#f5f5f5			 				!default;
$fg-gray-f9:          				#f9f9f9			 				!default;


/*----- SCAFFOLDING -----*/

$fg-text-color:						$gray-dark 						!default;

$fg-link-color:						$gray-dark 						!default;
$fg-link-color-hover:				$gray-darker 		 			!default;
$fg-link-color-active:				$gray-darker 		 			!default;
$fg-link-color-visited:				$gray 		 					!default;

$fg-body-bg:						#fff 		 					!default;


/*----- CLIENT -----*/

$client-color-1:          			#f35142		 					!default;
$client-color-2:          			#00b9a4 						!default;
$dark-blue:							#353844 						!default;


/*----- BRAND -----*/

$brand-primary:         			$client-color-1 					!default;
$brand-secondary:         			$client-color-2 					!default;
$brand-dark:						#353844 						!default;

$brand-success:         			#5cb85c 						!default;
$brand-info:            			#339cbb 						!default;
$brand-warning:         			#900 							!default;
$brand-danger:          			#d9534f 						!default;


/*----- SOCIAL -----*/

$twitter:							#1da1f2 						!default;
$facebook:							#3b5998 						!default;
$youtube:							#ff0000 						!default;
$linkedin:							#007ab5 						!default;
$google-plus:						#dc4a38 						!default;
$instagram:							#c91d73 						!default;
$rss:								#fe8a34 						!default;


/*----- TEXT SELECTION -----*/

/*
::-moz-selection { background: $gray-lighter; color: $gray-darker; text-shadow: none; }
::selection { background: $gray-lighter; color: $gray-darker; text-shadow: none; }
*/

::-moz-selection { background: #2d303a; color: #fff; text-shadow: none; }
::selection { background: #2d303a; color: #fff; text-shadow: none; }
