/* ==========================================================================
   TYPOGRAPHY - CLASSES
   ========================================================================== */

/*----- HEADINGS -----*/

.h1, .h2, .h3, .h4, .h5, .h6 {
	
	margin-top: ( $fg-post-entry-space * 2 );
	margin-bottom: $fg-post-entry-space;
	font-family: $fg-headings-font-family;
	font-weight: $fg-headings-font-weight;
	line-height: $fg-headings-line-height;
	color: $fg-headings-color;
	
	small,
	.small {
		font-weight: normal;
		line-height: 1;
		color: $fg-headings-small-color;
	}
}

.h4, .h5, .h6 {
	
	margin-top: $fg-post-entry-space;
	margin-bottom: $fg-post-entry-space;
	
	small,
	.small {
		font-size: 75%;
	}
}

.h1 { font-size: $fg-font-size-h1; }
.h2 { font-size: $fg-font-size-h2; }
.h3 { font-size: $fg-font-size-h3; }
.h4 { font-size: $fg-font-size-h4; }
.h5 { font-size: $fg-font-size-h5; }
.h6 { font-size: $fg-font-size-h6; }


.small {
	font-size: floor( ( 100% * $fg-font-size-s / $fg-font-size-base ) );
}


.mark {
	background-color: $fg-mark-color;
	padding: 0 6px;
}


/* hide text */
.text-hide {
  @include text-hide();
}


/* Fancy & Ampersand */
.amp {
    font-family: 'Papyrus', Baskerville, Palatino, "Book Antiqua", serif;
    font-style: normal;
    font-weight: normal;
}

small {
	display: inline-block;
	line-height: 1.2;
}


/* ==========================================================================
   BLOCKQUOTE
   ========================================================================== */

/*----- VARIABLES -----*/

$fg-quote-mark-color:				$brand-secondary		     									!default;
$fg-quote-mark-font-family:			$fg-font-family-serif							     			!default;
$fg-quote-mark-font-size:			120px											     			!default;		


$fg-quote-color:					$gray-light				     									!default;
$fg-quote-font-family:				Ampersand, Menlo, Monaco, Consolas, "Courier New", monospace	!default;
$fg-quote-font-size:				28px											     			!default;


$fg-cite-color:						$gray											     			!default;
$fg-cite-font-family:				$fg-font-family-sans-serif									 	!default;
$fg-cite-font-size:					14px											     			!default;



.inc-blockquote {
	
    position: relative;
    margin: 25px;
    padding: 40px 20px 40px 80px;
    quotes: "\201C""\201D";
    text-align: left;
    font-family: $fg-quote-font-family;
    font-size: $fg-quote-font-size;
    font-weight: 400;
    line-height: 1.6;
	color: $fg-quote-color;
	
	&::before {
	    position: absolute;
	    top: 0;
	    left: 0;
	    content: open-quote;
	    font-family: $fg-quote-mark-font-family;
	    font-size: $fg-quote-mark-font-size;
	    color: $fg-quote-mark-color;
	}
	
	&:after {
	    display: none;
	    content: close-quote;
	}
	
	cite {
		
	    display: block;
	    margin-top: 10px;
	    text-align: left;
	    font-family: $fg-cite-font-family;
	    font-size: $fg-cite-font-size;
	    font-weight: 400;
	    font-style: normal;
	    line-height: 1.2;
	    color: $fg-cite-color;
	    
	    a,
	    span {
		    text-decoration: none;
		    color: $fg-cite-color;
		}
	}

	
	&::-moz-selection { background: $brand-secondary; color: #fff; text-shadow: none; }
	&::selection { background: $brand-secondary; color: #fff; text-shadow: none; }
	& *::-moz-selection { background: $brand-secondary; color: #fff; text-shadow: none; }
	& *::selection { background: $brand-secondary; color: #fff; text-shadow: none; }
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.inc-blockquote {
		
	    margin: 15px 0;
	    padding: 30px 20px 0 60px;
	    font-size: 24px;
	    line-height: 1.6;
		
		&::before {
		    font-size: 90px;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}