/* ==========================================================================
   TYPOGRAPHY - VARIABLES
   ========================================================================== */

/* Font Family */

$fg-font-family-sans-serif:  		Catamaran, "Helvetica Neue", Helvetica, Arial, sans-serif 			!default;
$fg-font-family-serif:       		Merriweather, Georgia, "Times New Roman", Times, serif 				!default;
$fg-font-family-monospace:   		Roboto, Menlo, Monaco, "Courier New", monospace 						!default;
$fg-icon-font-name:          		"FontAwesome" 														!default;

$fg-font-family-base:        		$fg-font-family-monospace											!default;

$fg-headings-font-family:    		$fg-font-family-base 												!default;


/* Font Size */

$fg-font-size-base:          		21px 																!default;

$fg-font-size-xs:     	    		floor( ( $fg-font-size-base * 0.7 ) ) 								!default; // 11px
$fg-font-size-s:         			ceil( ( $fg-font-size-base * 0.8 ) ) 								!default; // 13px
$fg-font-size-m:         			ceil( ( $fg-font-size-base * 1.1 ) ) 								!default; // 18px
$fg-font-size-l:         			ceil( ( $fg-font-size-base * 1.25 ) ) 								!default; // 20px
$fg-font-size-xl:         			ceil( ( $fg-font-size-base * 1.375 ) ) 								!default; // 22px

$fg-font-size-h1:            		floor( ( $fg-font-size-base * 2.6 ) ) 								!default;
$fg-font-size-h2:            		floor( ( $fg-font-size-base * 2.15 ) ) 								!default;
$fg-font-size-h3:            		ceil( ( $fg-font-size-base * 1.7 ) ) 								!default;
$fg-font-size-h4:            		ceil( ( $fg-font-size-base * 1.25 ) ) 								!default;
$fg-font-size-h5:            		$fg-font-size-base 													!default;
$fg-font-size-h6:            		ceil( ( $fg-font-size-base * 0.85 ) ) 								!default;

$fg-blockquote-font-size:      		( $fg-font-size-base * 1.25 ) 										!default;


/* Line Height */

// $fg-line-height-base:        		1.428571429 														!default;
$fg-line-height-base:        		1.6 																!default;
$fg-line-height-computed:    		floor( ( $fg-font-size-base * $fg-line-height-base ) ) 				!default;

$fg-headings-line-height:    		1.2 																!default;

$line-height-large:         		1.8 																!default;
$line-height-small:         		1	 																!default;

$fg-line-height-xs:         		0.85 																!default;
$fg-line-height-s:         			1 																	!default;
$fg-line-height:         			$fg-line-height-base 												!default; // 1.6
$fg-line-height-m:         			( $fg-line-height * 0.75 ) 											!default; // 1.2
$fg-line-height-l:         			1.8 																!default;


/* Headings */

$fg-headings-font-weight:    		700 																!default;


/* Colors */

$fg-text-color:            			$gray-dark 															!default;
$fg-text-muted:                		$gray-light 														!default;

$fg-headings-color:          		$gray-darker 														!default;
$fg-headings-small-color:    		$gray-light 														!default;

$fg-blockquote-border-color:   		$gray-lighter 														!default;
$fg-blockquote-small-color:			$gray-light 														!default;

$fg-abbr-border-color:         		$gray-light 														!default;

$fg-mark-color: 						#f6f0a3																!default;  // #fbdd54 

$fg-code-color:                		$gray-dark 															!default;  // #c7254e
$fg-code-bg:                   		transparent										 					!default;  // #f9f2f4	

$fg-kbd-color:                	 	#fff 																!default;
$fg-kbd-bg:                   	 	#333 																!default;

$fg-pre-bg:                   	 	$gray-darker														!default;
$fg-pre-color:                	 	ivory	  															!default;
$fg-pre-border-color:         	 	$gray-lighter														!default;





$inc-font-family-sans-serif:  		Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif 				!default;
$inc-font-family-monospace:   		RobotoMono, Menlo, Monaco, "Courier New", monospace 					!default;
$inc-font-family-condensed:   		RobotoCondensed, "Helvetica Neue", Helvetica, Arial, sans-serif 		!default;
$inc-font-family-serif:       		Merriweather, 'Crimson', Georgia, "Times New Roman", Times, serif 	!default;
$inc-font-family-display:       		CaviarDreams, Coda, Roboto, Helvetica, Arial, sans-serif 			!default;
$inc-font-family-serif-display:     Comprehension, Georgia, Times, serif 								!default;
$inc-icon-font:          			"FontAwesome" 														!default;