/* ==========================================================================
   LISTS - VARIABLES
   ========================================================================== */

$fg-list-margin:						$fg-post-entry-space				!default;
$fg-list-line-height:				1.4									!default;

/* ul */

$fg-ul-list-type-l1:					square								!default;	
$fg-ul-list-type-l2:					circle								!default;	

/* ol */

$fg-ol-list-type-l1:					upper-roman							!default;	
$fg-ol-list-type-l2:					lower-roman							!default;

/* dl */

$fg-dl-horizontal-offset:        		200px 								!default;

/* icon */

$fg-list-icon: 							'\f0da'								!default;
$fg-list-icon-font:						$fg-icon-font-name					!default;
$fg-list-icon-font-size:					16px								!default;
$fg-icon-indent:						16px 								!default;
$fg-icon-color:							$gray-light							!default;

/* circle: f111 - circle-o: f10c - square: f0c8 - square-o: f096 */
