/* ==========================================================================
   LISTS - CLASSES
   ========================================================================== */

/* Unstyled List */
.list-unstyled {
	padding-left: 0;
	list-style: none;
}


/* Inline List */
.list-inline {

	@extend .list-unstyled;
	margin-left: -5px;
	
	> li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}



/*----- ICON LISTS -----*/

.iconlist {
	
	padding: 0;
	
	li {
		
		list-style: none;
		padding-left: $fg-icon-indent;
		padding-top: $fg-post-entry-xs;
		padding-bottom: $fg-post-entry-xs;
		
		&:before {
			display: inline-block;
			width: $fg-icon-indent;
			margin-left: -$fg-icon-indent;
			content: $fg-list-icon;			
			font-family: $fg-list-icon-font;
			font-size: $fg-list-icon-font-size;
			color: $fg-icon-color;
		}
		
		&:first-of-type {
			padding-top: 0;
		}
		
		&:last-of-type {
			padding-bottom: 0;
		}
		
		li {
			
			&:first-of-type {
				padding-top: 0;
			}
			
			&:last-of-type {
				padding-bottom: 0;
			}
		}
		
		ul,
		ol {
			padding-top: $fg-post-entry-xs;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
		
		ol {
			
			li {
				
				list-style-type: $fg-ol-list-type-l1;
				padding-left: 0;
				
				&:before {
					display: none;
				}
			}
			
			ol {
				
				li {
					list-style-type: $fg-ol-list-type-l2;
				}
			}
		}
	}
}



/*----- IMAGE ICON LISTS -----*/

.imagelist {
	
	padding: 0;
	
	li {
		
		list-style: none;
		padding-left: $fg-icon-indent;
		margin-bottom: ( $fg-post-entry-space / 2 );
	  
		&:before {
			display: inline-block;
			width: $fg-icon-indent;
			height: $fg-icon-indent;
			margin-left: -$fg-icon-indent;
			background: url(../images/icons/bull.png) no-repeat left top;
			background-size: 16px auto;
			content: "";
			position: relative;
			left: -10px;
			margin-bottom: -3px;
		}
	}
}



/*---------- HORIZONTAL DESCRIPTION LIST ----------*/

.dl-horizontal {

	dd {
		@include clearfix();
	}

	@media ( min-width: $screen-sm-min ) {
		
		dt {
			float: left;
			width: ($fg-dl-horizontal-offset - 25);
			text-align: right;
			@include text-overflow();
		}
		
		dd {
			margin-left: $fg-dl-horizontal-offset;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}