/* ==========================================================================
   BLOG - Gutenberg
   ========================================================================== */

.inc-gutenberg {
		
	// PARAGRAPHS
	> p {
		
		font-family: $inc-font-family-serif;
		font-size: 18px;
		line-height: 1.8;
		
		// paragraph lines
		// @extend .inc-paragraph-lines;
		
		// text links
		a {
			// @extend .text-link;
			// @extend .link-slideup;
			// @extend .link-slideright;
			@extend .link-flip;
			// @extend .link-scaledown;
			// @extend .link-scaleupbounce;
		}
		
		// drop cap
		&.has-drop-cap:not(:focus)::first-letter {
			@extend .iclude-drop-cap;
		}
		

		&.has-small-font-size {
			font-size: 14px;
			line-height: 1.8;
		}

		&.has-medium-font-size {
			font-size: 20px;
			line-height: 1.8;
		}
		
		&.has-large-font-size {
			font-size: 36px;
			line-height: 1.5;
		}
		
		&.has-huge-font-size {
			font-size: 48px;
			line-height: 1.5;
		}
	}
	
	
	// HEADERS
	h1, h2 {
		font-weight: 700;
		margin-top: 32px;
		margin-bottom: 16px;
	}
	
	h3,h4,h5,h6 {
		font-weight: 700;
		margin-top: 32px;
		margin-bottom: s( 12 );
	}
	

	// DIVIDERS
	.wp-block-separator {
		margin-top: 32px;
		margin-bottom: 32px;
		border: 1px solid $gray-lighter !important;
	}
	
	
	// LISTS
	ul:not(.wp-block-gallery) {
		@extend .iconlist;
		font-family: $inc-font-family-serif;
		font-size: 18px;
		line-height: 1.8;
	}
	
	
	// BLOCKQUOTE	
	.wp-block-quote {
		
		margin-bottom: 32px;
		padding-bottom: 32px;
		background: transparent;
		
		p {
			
			@extend .inc-blockquote;
			margin-bottom: 16px;
			padding-bottom: 32px;
			
			&:nth-of-type(2) {
				
				border: none;
				padding-bottom: 0;
				margin-top: - 32px;;
				
				&::before {
					display: none;
				}
			}
		}
	}
	
	
	// PULLQUOTE
	.wp-block-pullquote {
		
		padding: 0;
		
		blockquote {
				
			margin-bottom: 32px;
			padding-bottom: 32px;
			background: transparent;
			
			p {
				
				@extend .inc-blockquote-1;
				margin-bottom: 0;
				padding-bottom: 16px;
				
				&:nth-of-type(2) {
					
					border: none;
					padding: 0;
					margin: 0;
					
					&::before {
						display: none;
					}
				}
			}
		}
	}
	
	
	// GALLERY
	.wp-block-gallery {
		
		margin-left: 0;
		margin-top: 32px;
		margin-bottom: 32px;
		
		figcaption {
			margin-bottom: 0;
			padding-bottom: 10px;
			pointer-events: none;
		}
	}
	
	
	// SINGLE IMAGE
	.wp-block-image {
		
		margin-top: 32px;
		margin-bottom: 32px;
		
		figcaption {
			
			text-align: left;
			
			a {
				color: inherit;
			}
		}
	}
	
	
	// TABLE
	.wp-block-table {
		
		margin-top: 32px;
		margin-bottom: 32px;
		
		@extend .table;
		@extend .table-striped;
		@extend .table-hover;
		
		caption {
			text-align: left;
			padding-top: s( 4 );
			margin-top: s( 2 );
			font-size: 14px;
			line-height: 1.2;
			border-top: 1px solid $gray;
			color: $gray;
		}
	}


	// BUTTON
	.wp-block-button {
		margin-top: 32px;
		margin-bottom: 32px;
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}