/* ==========================================================================
   UI - Text Links
   ========================================================================== */

.text-link {

	border-bottom: 1px solid $brand-primary;
	box-shadow: inset 0 -2px 0 $brand-primary;
	color: $fg-text-color;
	text-decoration: none;
	transition: all 0.3s ease 0s; 
	
	&:hover {					
		color: $brand-primary;
		text-decoration: none;
	}
}


			
.link-fadeinbg {
	
	border-bottom: 1px solid $brand-primary;
	color: $fg-text-color;
	text-decoration: none;
	font-weight: 600;
	padding: 0 s( 4 );
	transition: all 0.6s ease 0s;
	
	&:hover,
	&:focus {
		color: #fff;
		border-color: transparent;
		background-color: $brand-primary;
	}		
}



.link-slideup {
	
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: bottom;
	white-space: nowrap;
	text-decoration: none; 
	color: $fg-text-color;
	font-weight: 600;
	padding: 0 s( 4 );
	
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: $brand-primary;
		content: '';
		
		-webkit-transition: -webkit-transform 0.2s;
				transition: transform 0.2s;
				
		transition: all 0.3s ease 0s; 
		
		-webkit-transform: translateY(95%);
				transform: translateY(95%);
	}
	
	&:hover,
	&:focus {
		color: #fff;
	}
	
	&:hover::before,
	&:focus::before {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}



.link-slideright {
	
	text-decoration: none; 
	color: $fg-text-color;
	
	display: inline-block;
	position: relative;
	white-space: nowrap;
	vertical-align: bottom;

	overflow: hidden;
	font-weight: 600;
	padding: 0 4px;
	
	transition: all 0.3s ease 0s; 
	
	&:hover,
	&:focus {
		color: #fff;
	}
	
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: $brand-primary;
		content: '';
		
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		-webkit-transform: scaleY(0.618) translateX(-100%);
		transform: scaleY(0.618) translateX(-100%);
	}
	
	&:hover::before,
	&:focus::before {
		-webkit-transform: scaleY(0.618) translateX(0);
		transform: scaleY(0.618) translateX(0);
	}	
}



.link-flip {
	
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;

	font-weight: 600;
	padding: 0 s( 4 );
	
	text-decoration: none; 
	color: $fg-text-color;
	
	-webkit-transition: color 0.3s;
			transition: color 0.3s;
	
	-webkit-perspective: 600px;
			perspective: 600px;
	
	-webkit-perspective-origin: 50% 100%;
			perspective-origin: 50% 100%;
	
	&:hover,
	&:focus {
		color: #fff;
	}
	
	&::before,
	&::after {
		position: absolute;
		top: 0;
		left: -4px;
		z-index: -1;
		box-sizing: content-box;
		padding: 0 s( 4 );
		width: 100%;
		height: 100%;
		content: '';
	}
	
	&::before {
		background-color: $brand-primary;
		
		-webkit-transition: -webkit-transform 0.2s;
				transition: transform 0.2s;
		
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		
		-webkit-transform: rotateX(90deg);
				transform: rotateX(90deg);
		
		-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
	}
	
	&:hover::before,
	&:focus::before {
		-webkit-transform: rotateX(0deg);
				transform: rotateX(0deg);
	}
	
	&::after {
		border-bottom: 2px solid $brand-primary;
	}
}




.link-scaledown {
		
	display: inline-block;
	position: relative;
	white-space: nowrap;
	vertical-align: bottom;
	overflow: hidden;

	padding: 0 s( 4 );
	
	color: $fg-text-color;
	font-weight: 600;
	text-decoration: none; 
	
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	
	&:hover,
	&:focus {
		color: $brand-primary;
	}
	
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		background-color: $brand-primary;
		content: '';
		opacity: 0;
		
		-webkit-transition: -webkit-transform 0.2s, opacity 0.3s, background-color 0.2s;
		transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	
	&:hover::before,
	&:focus::before {
		background-color: rgba(255,255,255,0);
		opacity: 1;
		
		-webkit-transform: scaleX(1) scaleY(0.618);
		transform: scaleX(1) scaleY(0.618);
	}
}




.link-scaleupbounce {
	
	display: inline-block;
	position: relative;
	white-space: nowrap;
	vertical-align: bottom;
	overflow: hidden;

	padding: 0 s( 4 );
	
	color: $fg-text-color;
	font-weight: 600;
	text-decoration: none; 
	
	&::before {
		position: absolute;
		top: 0;
		left: -5px;
		z-index: -1;
		box-sizing: content-box;
		padding: 0 5px;
		width: 100%;
		height: 100%;
		background-color: $brand-primary;
		content: '';
		opacity: 0;
		
		-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
		transition: transform 0.2s, opacity 0.2s;
		
		-webkit-transition-timing-function: cubic-bezier(0.25,0.25,0.325,1.39);
		transition-timing-function: cubic-bezier(0.25,0.25,0.325,1.39);
		
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	
	&:hover,
	&:focus {
		color: #fff;
	}
	
	&:hover::before,
	&:focus::before {
		opacity: 1;
		
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}




.link-tipoverlay {
	
}


.link-arrow {
	
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}