/* ==========================================================================
   TYPOGRAPHY - Blockquote
   ========================================================================== */

$inc-blockquote-font-family: 			Ampersand, Merriweather, 'Crimson', Georgia, serif				!default;
// $inc-blockquote-font-family:			Ampersand, Menlo, Monaco, Consolas, "Courier New", monospace		!default;
$inc-blockquote-font-size:				32px														    !default;
$inc-blockquote-color:					$gray-darker					     							!default;
$inc-blockquote-border-color:			$gray-dark					     								!default;

// quote mark
$inc-quotemark-font-family: 				$inc-font-family-serif 											!default;
// $inc-quotemark-font-family:			'CrimsonSemibold'								     			!default;
$inc-quotemark-font-size:				112px												  		 	!default;		
$inc-quotemark-color:					$brand-primary		     										!default;

// cite
$inc-cite-font-family:		 			$inc-font-family-sans-serif 										!default;
$inc-cite-font-size:					14px													     	!default;
$inc-cite-color:							$gray-dark													    !default;


// base styles for blockquote 1-4
.inc-blockquote {
	
	position: relative;
	margin: 32px 0;
	padding-left: 32px;
	padding-right: 32px;
	font-family: $inc-blockquote-font-family;
	font-size: $inc-blockquote-font-size;
	font-weight: 500;
	line-height: 1.5;
	text-align: left;
	color: $inc-blockquote-color;
	background-color: transparent;
	border-left: 3px solid $gray-dark;
	
	cite,
	p cite {
		
	    display: block;
	    margin-top: 8px;
	    text-align: left;
	    font-family: $inc-cite-font-family;
	    font-size: $inc-cite-font-size;
	    font-weight: 400;
	    font-style: normal;
	    line-height: 1.2;
	    color: $inc-cite-color;
	    
	    a,
	    span {
		    color: $inc-cite-color;
		}
		
		a {
			
			text-decoration: none;
			border-bottom: 1px dotted $gray;
			box-shadow: none;
		
			&:hover {
				text-decoration: none;
				@include opacity( 0.6 );
			}
		}
	}
}


// big quotes - nothing elsse
.inc-blockquote-1 {
	
	@extend .inc-blockquote;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left:  80px !important;
	border: none !important;
    quotes: "\201C""\201D";    
	
	&::before {
	    position: absolute;
	    top: - 12px;
	    left: 0;
	    content: open-quote;
	    font-family: $inc-quotemark-font-family;
	    font-size: $inc-quotemark-font-size;
	    color: $inc-quotemark-color;
	}
	
	&:after {
	    display: none;
	    content: close-quote;
	}
		
	&::-moz-selection { background: $brand-secondary; color: #fff; text-shadow: none; }
	&::selection { background: $brand-secondary; color: #fff; text-shadow: none; }
	& *::-moz-selection { background: $brand-secondary; color: #fff; text-shadow: none; }
	& *::selection { background: $brand-secondary; color: #fff; text-shadow: none; }
}


// thick border top
.inc-blockquote-2 {
	@extend .inc-blockquote;
	padding-top: 32px;
	padding-bottom: 32px;
	border-left: none !important;
    border-top: 8px solid $inc-blockquote-border-color;
    border-bottom: 1px solid $inc-blockquote-border-color;
}


// style 2 pull left
.inc-blockquote-3 {
	@extend .inc-blockquote-2;
	width: 75%;
	margin-left: - 112px !important;
}


// style 3 with quotes
.inc-blockquote-4 {
	
	@extend .inc-blockquote-3;
	padding-left: 56px !important;
	
	&::before {
		content: "\201C";
		position: absolute;
		top: 2px;
		/*quotes: "\201C""\201D";*/
		font-size: 80px;
		font-family: $inc-quotemark-font-family;
		margin-left: - 56px;
		color: $inc-quotemark-color;
	}
}


// sqare corners
.inc-blockquote-5 {
	
	float: left;
	width: 60%;
	border: 0 !important;
	padding: 32px;
	position: relative;	
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: - 112px !important;
	margin-right: 48px !important;
	background-color: $gray-lighter !important;
	
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    font-family: $inc-blockquote-font-family;

	&::before,
	&::after {
		width: 32px;
		height: 32px;
		display: inline-block;
		content: "";
		position: absolute;
	}
	
	&::before {
		top: 0;
		left: 0;
		border-left: 16px solid $inc-blockquote-border-color;
		border-top: 16px solid $inc-blockquote-border-color;
	}
	
	&::after {
		bottom: 0;
		right: 0;
		border-right: 16px solid $inc-blockquote-border-color;
		border-bottom: 16px solid $inc-blockquote-border-color;
	}

   	cite {
		
	    display: block;
	    margin-top: 8px;
	    text-align: left;
	    font-family: $inc-cite-font-family;
	    font-size: $inc-cite-font-size;
	    font-weight: 400;
	    font-style: normal;
	    line-height: 1.2;
	    color: $inc-cite-color;
	    
	    a,
	    span {
		    text-decoration: none;
		    color: $inc-cite-color;
		}
		
		a:hover {
			text-decoration: underline;
		}
	}
}








/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {

	.inc-blockquote-3,
	.inc-blockquote-4,
	.inc-blockquote-5 {
		width: 60%;
		margin-left: - 48px !important;
		margin-right: 48px !important;
	}

	.inc-blockquote-3,
	.inc-blockquote-4 {
		float: left;
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {

	.inc-blockquote-1,
	.inc-blockquote-2,
	.inc-blockquote-3,
	.inc-blockquote-4,
	.inc-blockquote-5 {
		float: none;
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
	.inc-blockquote-1 {
		margin-top: 16px !important;
		margin-bottom: 16px !important;
	}
	
	.inc-blockquote-3 {
		padding: 32px 0;
	}
	
	.inc-blockquote-4 {
		
		&::before {
			font-size: 80px;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.inc-blockquote-1 {
		
	    font-size: 24px;
	    line-height: 1.6;
	    padding-left:  64px !important;

		&::before {
			top: - 4px !important;
		    font-size: 96px;
		}		
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
