/* ==========================================================================
   SECTION: BLOG LAYOUT - IMAGE LEFT
   ========================================================================== */

$fg-thumbnail-width:						100%						!default;
$fg-thumbnail-height:						250px						!default;

$fg-thumbnail-mobile-height:				150px						!default;


.blog,
.archive,
.search-results,
.custom-query {

	.type-post,
	.type-page,
	.type-project {
		
		@include clearfix();
		
		margin-bottom: 50px;
		
		display: flex;
		flex-direction: column;
		
		
		/* THUMBNAIL */
		
		.post-thumbnail {
			
			margin-bottom: 25px;
			
			a {
				
				display: block;
				width: $fg-thumbnail-width !important;
				height: $fg-thumbnail-height !important;
				background-size: cover !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
				
				transition: all 1s ease 0s; 
				
				img {
					opacity: 0;
				}
				
				&.no-thumbnail {
					
					background-size: 80px 80px !important;
					background-color: $gray-lighter !important;
					
					&:hover {
						background-size: 100px 100px !important;
					}
				}
			}
		}
				
		
		/* EXCERPT */
		
		.post-entry {
			
			flex: 1;
			overflow: hidden;
						
			.post-title, p {
				margin: 0 !important;
				overflow: hidden;
				word-wrap: break-word;
			}
			
			.read-more {
				
				font-size: 14px;
				font-weight: 900;
				display: inline-block;
				
				transition: all 0.3s ease 0s; 
				
				&:hover {
					margin-left: 10px;
				}
			}
		}
	}
	
	
	.type-page {
		
		.post-thumbnail {
			display: none;
		}
	}
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.blog,
	.archive,
	.search-results {
		
		.type-post,
		.type-page,
		.type-projects {
			
			display: block;
			
			.post-thumbnail {
				
				margin-right: 0;
				margin-bottom: 25px;
				width: 100%;
				
				a {
					
					display: block;
					width: 100% !important;
					height: $fg-thumbnail-mobile-height;
					background-size: 100% auto !important;
					
					&:hover {
						background-size: 120% auto !important;
					}
				}
			}
			
			.post-entry {
				
				width: 100%;
							
				.post-title {}
				
				p {
					
					.read-more {
						
					}
				}
			}
		}
	}	
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}