@font-face {
    font-family: 'LatoBlackItalic';
    src: url('../fonts/Lato/Lato-BlackItalic-webfont.eot');
    src: url('../fonts/Lato/Lato-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-BlackItalic-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-BlackItalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-BlackItalic-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}