@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato/Lato-Light-webfont.eot');
    src: url('../fonts/Lato/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Light-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Light-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Light-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}