@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/Lato/Lato-Black-webfont.eot');
    src: url('../fonts/Lato/Lato-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Black-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Black-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Black-webfont.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}