@font-face {
    font-family: 'LatoLightItalic';
    src: url('../fonts/Lato/Lato-LightItalic-webfont.eot');
    src: url('../fonts/Lato/Lato-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-LightItalic-webfont.svg#LatoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}