@font-face {
    font-family: 'LatoItalic';
    src: url('../fonts/Lato/Lato-Italic-webfont.eot');
    src: url('../fonts/Lato/Lato-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Italic-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Italic-webfont.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}