/* ==========================================================================
   SECTION: COMMENTS
   ========================================================================== */

.comments-pagination {
	
	margin: $fg-section-space 0;
	
	.nav-links {
		@extend .include-nav-links;
	}
}


#include-comments {
	
	margin-top: $fg-section-space-m;
	
	#cancel-comment-reply-link {
		font-size: 12px;
	}
	
	/* the comments */
	
	ol.comment-list {
		
		padding: 0;
		list-style-type: none;
		
		li.comment {
						
			.comment-body {
				
				display: block;
				margin-bottom: 25px;
				padding: 20px 20px 20px 80px;
				background: $gray-lighter;
				border-radius: $border-radius-fancy;
				
				.comment-meta {
					
					&:before, &:after { content: ""; display: table; }
					&:after { clear: both; }
					zoom: 1;
					
					margin-bottom: 25px;
				
				
					.comment-author {
						
						font-family: $fg-font-family-base;
						line-height: 1;
						
						img {
							float: left;
							margin-right: 10px;
							border-radius: 50%;
							width: 50px;
							height: auto;
							margin-left: -60px;
						}
						
						b {
							
							display: inline-block;
							margin-top: 10px;								
							
							a {
								text-decoration: none;
							}
						}
						
						.says {
							display: none;
						}
					}
					
					.comment-metadata {
						
						time,
						.comment-edit-link {
							font-size: 13px;
						}
						
						.comment-edit-link {
							font-weight: 900;
						}
					}
				}
				
				.comment-content {
					overflow: scroll;
				}
			
				.reply {
					
					text-align: right;
					font-size: $fg-font-size-s;
					font-weight: 700;
					
					&:before {
						position: relative;
						content: '\f112';
						padding-right: 5px;
						font-family: $fg-icon-font-name;
						font-size: 12px;
						font-weight: 400;
					}
					
					.comment-reply-link {
						
						margin-left: 0;
						
						i {
							display: none;
						}
					}
				}
			}
			
			ol.children {
				
				list-style-type: none;
				padding-left: 60px;
				
				.comment-body {
					background: #f1f1f1;
				}
			}
			
		}
	}
	
	p.no-comments {
		
	}
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#include-comments {
				
		ol.comment-list {
						
			li.comment {
							
				.comment-body {
					
					.comment-meta {
					
						.comment-author {

							
							img {}
							
							b {
								a {}
							}
							
							.says {}
						}
						
						.comment-metadata {
							
							time,
							.comment-edit-link {}
							
							.comment-edit-link {}
						}
					}
					
					.comment-content {	}
				
					.reply {
						
						&:before {}
					}
				}
				
				ol.children {
					
					padding-left: 0;
					
					.comment-body {
						background: #f1f1f1;
					}
				}
			}
		}
		
		p.no-comments {
			
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
