@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-black-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-black-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-black-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-black-webfont.svg#merriweatherheavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-bold-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-bold-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-bold-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-regular-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-regular-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-regular-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-light-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-light-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-light-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-light-webfont.svg#merriweatherlight') format('svg');
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-heavyitalic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-heavyitalic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-heavyitalic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-heavyitalic-webfont.svg#merriweatherheavy_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-bolditalic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-italic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-italic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-italic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/merriweather-lightitalic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-lightitalic-webfont.svg#merriweatherlight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
