/* ==========================================================================
   SECTION: FORMS
   ========================================================================== */

// CF7

.wpcf7 {
			
	label {
		font-size: 14px;
		font-weight: 700;
	}
	
	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	textarea {
		
		transition: all 0.3s ease 0s; 
		
		&:focus {
			border-color: #666;
		}
	}
}

/* form field tips */
.wpcf7-not-valid-tip {
	margin-top: -5px !important;
	font-size: 12px !important;
}

/* form message */
.wpcf7-valid-tip-text,
.wpcf7-not-valid-tip-text {
	color: #fff;
	line-height: 1.3;
	padding-top: 10px;
	padding-bottom: 10px;
	background: $brand-primary;
}
	
	
	
// GRAVITY FORMS

.gform_wrapper {
	
	.gsection {
		border: none;
		padding: 0;
	}
	
	.gsection_title  {
		@extend .section-header;
	}
	
	h2.gsection_title {
		text-transform: uppercase;
		font-size: 24px;
		text-align: center;
		margin-top: 35px !important;
		margin-bottom: 35px !important;
		padding: 0 0 10px 0 !important;
		font-weight: 500;
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}