/* ==========================================================================
   SECTION: PADDED TEXT
   ========================================================================== */

.include-padded-text {
	
	color: #fff;
	display: inline;
	white-space: normal;
	line-height: 1.5;
	padding-left: 15px;
	padding-right: 10px;
	background: $gray;
	
	transition: all 0.3s ease 0s; 
		 	
	-webkit-box-shadow: -10px 0 0 $gray, 10px 0 0 $gray;
	   -moz-box-shadow: -10px 0 0 $gray, 10px 0 0 $gray;
		 	box-shadow: -10px 0 0 $gray, 10px 0 0 $gray;
	
	-webkit-box-decoration-break: clone;
		-ms-box-decoration-break: clone;
		 -o-box-decoration-break: clone;
		 	box-decoration-break: clone;
		 	
	&:hover {
		
		color: #fff;
		background: $brand-primary;
			 	
		-webkit-box-shadow: -10px 0 0 $brand-primary, 10px 0 0 $brand-primary;
		   -moz-box-shadow: -10px 0 0 $brand-primary, 10px 0 0 $brand-primary;
			 	box-shadow: -10px 0 0 $brand-primary, 10px 0 0 $brand-primary;
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}