/* ==========================================================================
   SECTION: SCAFFOLDING
   ========================================================================== */

// site background
body { 
	background-color: #fff;
	// background-image: url(../images/backgrounds/background-orange-gradient.png);
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
	background-size: 100% auto;	
}


.page-inner {
	background: transparent !important;
}

#main {
	background: #fff;
}


#page {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
	.masthead {
		width: 100%;
	}
}

#footer {
	margin: 0;
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#main {
		padding: 40px 0 40px 0;
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}