/* ==========================================================================
   SECTION: TYPOGRAPHY
   ========================================================================== */

.section-header {
	
	position: relative;
	margin-bottom: 35px;
	padding: 0 0 10px 0;
	font-weight: 300;
	margin-top: 35px !important;
	// font-size: 24px !important;
	text-transform: uppercase;
	font-weight: 500;
	
	&.white {
		color: #fff;
	}
	
	&.first {
		margin-top: 0 !important;
	}
	
	&:after {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 60px;
		height: 2px;
		margin-left: -30px;
		content: "";
		color: #fff;
		background-color: $brand-secondary;
	}
}


// RED HEADER
h3.section-header {
	text-transform: uppercase;
	text-align: center;
}


// GREEN HEADER
h4.section-header {
	font-size: 24px !important;
	font-weight: 400;
	margin-bottom: 20px !important;

	&:after {
		background-color: $brand-secondary;
	}
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}