@font-face {
    font-family: 'MerriweatherBold';
    src: url('../fonts/Merriweather/merriweather-bold-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-bold-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-bold-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-bold-webfont.svg#MerriweatherBold') format('svg');
    font-weight: normal;
    font-style: normal;

}