@font-face {
    font-family: 'MerriweatherLight';
    src: url('../fonts/Merriweather/merriweather-light-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-light-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-light-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-light-webfont.svg#MerriweatherLight') format('svg');
    font-weight: normal;
    font-style: normal;

}