@font-face {
    font-family: 'MerriweatherItalic';
    src: url('../fonts/Merriweather/merriweather-italic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-italic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-italic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-italic-webfont.svg#MerriweatherItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}