/* ==========================================================================
   SECTION: Information for Applicants Link
   ========================================================================== */

.ef-ifa-link {
	
	border-bottom: 1px solid #e5e5e5 !important;
	margin-bottom: 0 !important;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
	padding-left: 15px;
	
	&:hover {
		background: #f5f5f5;
	}

	a {
		display: block;
		position: relative;
		width: 100%;
		padding-top: 22px !important;
		padding-bottom: 22px !important;
		
		font-size: 18px !important;
		font-weight: 500 !important;
		text-transform: uppercase !important;
		color: #323641 !important;
		
		&:before {
		    position: absolute;
		    display: inline-block;
		    bottom: 0;
		    left: -15px;
		    width: 60px;
		    height: 3px;
		    content: "";
		    color: #fff;
		    background-color: $brand-secondary;
	    }
	    
	    &:hover {
		    
			&:before {
			    background-color: $brand-primary;
		    }
	    }
	}
	

	&:after {
		height: 12px;
		width: 12px;
		cursor: pointer;
		font-weight: 100;
		color: $dark-blue;
		
		content: '';
		border-top: 2px solid $dark-blue !important;
		border-left: 2px solid $dark-blue !important;
		
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
}


.information-for-applicants {
	
	.ef-ifa-link:nth-of-type(1),
	.ef-ifa-link:nth-of-type(2),
	.ef-ifa-link:nth-of-type(3) {

		a {
			
			&:before {
				background-color: $brand-primary;
			   //  background-color: $brand-secondary;
		    }
		    
		    &:hover {
			    
				&:before {
					background-color: $brand-secondary;
				    // background-color: $brand-primary;
			    }
		    }
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (min-width:992px){}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}