/* ==========================================================================
   SECTION: MILESTONES
   ========================================================================== */

.ef-info-tooltip {
	
	text-align: center;
	font-size: 18px;
	color: #999;
	line-height: 1;
	
	p:before {
		content: '\f05a';
		font-family: $fg-icon-font-name;
		color: $brand-secondary;
		display: inline;
		margin-right: 10px;
	}
}



.ef-milestones {
	
	padding: 0 25px 35px;
	
	.ef-milestones-title {
		
		margin-bottom: 5px !important;
		width: 40% !important;
		
		h4 {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 20px;
		}
	}
	
	.ef-milestones-subtitle {
		text-align: center;
		font-size: 17px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	
	.ef-milestones-description {
		
		font-size: 20px;
		line-height: 1.4;
		text-align: center;
		margin-bottom: 0;
		
		strong {
			font-weight: 700;
		}
	}
}


	
.ef-milestones-info {
	@extend .ef-info-tooltip;
	margin-bottom: 0 !important;
}



.ef-milestones-details {
	padding: 0 35px 35px;
}




.ef-milestones-slim {
	
	padding: 0 25px 10px;
	
	.vc_column-inner {
		padding-top: 10px !important;
	}
	
	.ef-milestones-description {
		
		margin-bottom: 0 !important;
		text-align: center;
		font-size: 20px;
		line-height: 1.4;
		
		strong {
			font-weight: 700;
		}
	}
	
	.ef-milestones-info {
		margin-top: 5px;
	}
}


.ef-milestones-arrow {
	
	.vc_column-inner {
		padding-top: 0 !important;
	}
	
	.vc_icon_element {
		margin-bottom: 0 !important;
	}
}



.ef-milestones-footer {
	
	line-height: 1.2;
	text-align: center;
	margin-bottom: 20px;
	
	strong {
		display: block;
		font-weight: 700;
	}
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (min-width:992px){}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}