/* ==========================================================================
   SECTION: TABS
   ========================================================================== */

// the7 tabs
.wpb_tabs_nav {
	
    border-bottom: 2px solid $brand-primary;
    display: flex !important;
    
    li {
	    margin: 0 !important;
	    flex: 1;
	    text-align: center;
	    font-size: 18px;
    }
    
    .ui-tabs-anchor {
	    text-transform: none !important;
    }
    
    li:not(.ui-tabs-active) {
	    background: #f1f1f1 !important;
	    font-weight: 700;
	}
}


// ua tabs

.ult_tabs {
	
	.ult_tabmenu {
		display: flex;
		justify-content: center;
	}
	
	.ult_tab_li {
		
		width: 50%;
		border-radius: 0 !important;
		border-bottom: 2px solid $brand-primary !important;
		
		a {
			
			display: flex !important;
			justify-content: center !important;
			width: 100%;
			text-align: center !important;
			background: #f1f1f1 !important;
			
			.ult-span-text {
				font-weight: 700 !important;
				font-size: 18px !important;
				color: $dark-blue;
			}
			
			&#video-guidance {
				border-right: 3px solid #fff !important;
			}
			
			&:hover {
				
				background: $brand-primary !important;
				
				.ult-span-text {
					color: #fff !important;
				}
			}
		}
		
		&.current {
			
			a {
				
				background: $brand-primary !important;
				
				.ult-span-text {
					color: #fff;
				}
			}	
		}
	}
	
	.ult_tabcontent {
		height: auto !important;
	}
}


.how-to-develop-a-good-project {
	
	.ult_tab_li {
		width: 33.33333%;
	}
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (min-width:992px){}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}