/* ==========================================================================
   SECTION: ACCORDION
   ========================================================================== */

// ACCORDION

.ef-accordion {
		
	.vc_tta-panel-heading {
		
		background: transparent !important;
		border-bottom: 1px solid #e5e5e5 !important;
		
		&:first-of-type {}
		
		h4.vc_tta-panel-title {
			
			a {
				
				padding-top: 24px !important;
				padding-bottom: 24px !important;
				
				i {
					
					right: 30px !important;
					
					&:before {
						left: -4px !important;
						right: -4px !important;
						top: -4px !important;
						bottom: -4px !important;
					}
				}
			}
			
			.vc_tta-title-text {
				font-size: 18px !important;
				font-weight: 500 !important;
				text-transform: uppercase !important;
				color: #323641 !important;
			}
		}
	}
	
		
	.vc_tta-panel-body {
		padding-top: 35px !important;
		padding-bottom: 45px !important;
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (min-width:992px){}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}