/* ==========================================================================
   SECTION: TOGGLE
   ========================================================================== */

.ef-toggle {
	
	margin-bottom: 0;
	
	// toggle title
	.vc_toggle_title {
		
		display: flex;
		justify-content: space-between;
		background: transparent;
		border-bottom: 1px solid #e5e5e5;
		
		padding-top: 22px;
		padding-bottom: 22px;
		padding-left: 15px;
		
		&:hover {
			
			background: #f5f5f5;
			
			h4::after {
			    background-color: $brand-primary;
		    }
		}
		
		h4 {
			
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			color: $dark-blue;
			margin-bottom: 0;
			
			&::after {
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    width: 60px;
			    height: 3px;
			    content: "";
			    color: #fff;
			    background-color: $brand-secondary;
		    }
		}
		
		i {
			
			right: 30px;
			
			&:before,
			&:after {
				height: 16px;
				width: 16px;
				border-color: $dark-blue !important;
			}
		}
	}
	
	
	// toggle content
	.vc_toggle_content {
		
		margin-top: 35px;
		margin-bottom: 45px;
		padding-left: 15px;
		padding-right: 15px;
		
		ul {
			
			@extend .iconlist;
			margin: 0 !important;
			
			li:before {
				color: $brand-primary;
			}
		}
	}
	
	
	
	// active toggle title
	&.vc_toggle_active {
		
		.vc_toggle_title {
			background: #f5f5f5;
		}
		
		h4 {
			
			&::after {
			    background-color: $brand-primary;
		    }
		}
	}
}




.ef-faq {
	
	@extend .ef-toggle;
	
	.vc_toggle_title {
		
		align-items: center;
		
		.vc_custom_heading {
			
			font-size: 17px !important;
			font-weight: 500 !important;
			text-transform: none !important;
			line-height: 1 !important;
			
			margin-bottom: 0;
			
			strong {
				font-weight: 500 !important;
				font-size: 18px !important;
				letter-spacing: 1px;
				background: #f5f5f5;
				padding: 0 8px;
				color: $brand-secondary;
			}
		}
		
		.vc_toggle_icon {
			margin-left: 25px;
		}
	}
	
	.vc_toggle_content {
		font-size: 19px !important;
		line-height: 1.3 !important;
	}
}



.guidance-for-applicants {
	
	.ef-faq {
		
		.vc_toggle_title {
						
			.vc_custom_heading {
				
				font-weight: 500 !important;
				
/*
				strong {
					font-weight: 700 !important;
					font-size: 18px !important;
					letter-spacing: 0;
					background: transparent;
					padding: 0;
					color: inherit;
				}
*/
			}

			.vc_toggle_icon {
				margin-left: 55px !important;
			}
		}
		
		p {
			font-size: 19px !important;
			margin-bottom: 25px;
		}
		
		ol {
			
			li {
				font-size: 19px !important;
				line-height: 1.2;
				margin-bottom: 10px;
				padding-left: 10px;
			}
		}		
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (min-width:992px){}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}