/* ==========================================================================
   SECTION: NAVIGATION
   ========================================================================== */

// HEADER

.masthead {
	background: transparent !important; 
}



// TOP BAR

.top-bar {
	
	.mini-login {
		
		.submit {
			
			color: #fff;
			
			&:before {
				content: '\f2bd';
				font-family: $fg-icon-font-name;
				color: #fff;
				background-image: none !important;
			}
		}
	}
}

.home {
		
	.top-bar {

		&:before {
			background: transparent !important;
		}
	}
}



// HEADER BAR

.header-bar {
	
	min-height: auto !important;
	
	.branding {
		
		padding: 0 0;
		
		a {
			padding-right: 0;
		}
	}
}


// STICKY HEADER
#phantom  {
	
	background: #fff !important; 
	
	.menu-item {
		
		a {
			margin-top: 18px;
		}
	}
	
	.sub-nav {
		
		.menu-item {
			
			a {
				margin-top: 0;
			}
		}
	}
	
	.menu-text { 
		color: $dark-blue;
		font-size: 14px;
	}
} 


.home {

	/* logo */
	.branding,
	.mobile-branding {
		display: none;
	}

	// mobile header
	.mobile-header-bar {
		justify-content: flex-end !important;
	}
	
	
	// NAVIGATION
	
	.sub-nav {
		
		background-color: rgba(255,255,255,1);
		
		.menu-text { 
			
			color: $dark-blue !important;
			
			&:hover {
				color: $client-color-1 !important;
			}
		}
	}
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (1050px and below)
   ============================================= */

@media ( max-width: 1050px ) {
	
	// hide sticky navigation to avoid menu lone break
	#phantom {
		display: none !important;
	}
}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	.dt-mobile-header {
		
		background: rgba(255,255,255,.9);
		
		.sub-nav {
			
			background: transparent !important;
			
			.menu-item {
				
				a {
// 					padding: 5px 30px 5px 0 !important;
				}
			}
			
			.menu-text {
				font-weight: 500 !important;
				font-size: 17px !important;
				white-space: nowrap;
			}
		}
		
		.mini-login {
			
			min-width: 100%;
			margin-right: 0;
			
			a {
				
				display: block;
				padding: 5px;
				background: $brand-primary;
				color: #fff !important;
				font-weight: 500 !important;
				font-size: 16px !important;
				text-align: center;
				
				&:before {
					display: none;
				}
				
				&:hover {
					
				}
			}
		}
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}