/* ==========================================================================
   SECTION: SIDEBAR
   ========================================================================== */

#sidebar {
	
	border: 0;
	
	.custom-menu {
		
		background: #e5e5e5;
		padding: 20px;
		white-space: nowrap;
		
		ul {
			
			a {
				
			    font-weight: 500;
			    color: $dark-blue !important;
	    
				&:hover {
					color: #f35142 !important
				}
			}
		}
	}
	
	
	.bellows {
		
		box-shadow: none !important;
		margin-top: 0 !important;
		
		.bellows-target {
			
			// background: #f5f5f5 !important;
			background: #fff !important;
			border-bottom: 1px solid #e5e5e5 !important;
			// border-bottom: 1px solid #f1f1f1 !important;
			padding-left: 15px !important;
			
			&:hover {
				
				.bellows-target-title {
					color: $brand-primary;
				}
			}
		}
		
		.bellows-target-title {
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			white-space: nowrap;
		}
		
/*
		.bellows-current_page {
			
			background: #f5f5f5 !important;
			
			.bellows-target-title {
				color: $brand-primary;
			}
		}
*/
		
		
		.bellows-subtoggle {
			
			width: 50px !important;
			
			i {
				
				&:before {
					content: "\f107";
					font-size: 20px;
					position: relative;
					top: -3px;
				}
			}
		}
		
		
		.bellows-submenu {
			
			.bellows-target {
				
				background: #fff !important;
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				border-bottom: 1px solid #f1f1f1 !important;
				
				&:hover {
					background: #f9f9f9 !important;
				}
			}
			
			.bellows-target-title {
				
				font-weight: 600;
				font-size: 16px;
				text-transform: none;
				
				&:before {
					content: "\f068";
					font-family: $fg-icon-font-name;
					font-size: 12px;
					margin-right: 8px;
					color: $brand-primary;
				}
			}
			
			.bellows-submenu {
				
				.bellows-menu-item {
					padding-left: 20px;
				}
			}
		}
		
		.information-for-applicants {
			
			.bellows-submenu {
				
				.bellows-menu-item {
					
					&:nth-of-type(4),
					&:nth-of-type(5),
					&:nth-of-type(6) {
						
						.bellows-target {
	
							&:hover {
								
								.bellows-target-title {
									color: $brand-secondary;
								}
							}
						}
						
						.bellows-target-title {
							
							&:before {
								color: $brand-secondary;
							}
						}
					}
				}
			}
		}
	}	
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (min-width:992px){
	
    #sidebar {
		
		.bellows,
		.custom-menu {
	        max-width: 275px !important;
	        width: 350px !important
	    }
    }
}

.bellows_navigation_widget-class {
	
}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	#sidebar {
		
		margin-top: 0;
		
		.widget_presscore-custom-menu-1 {
			padding-bottom: 60px;
		}
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}