@charset "UTF-8";
/* ==========================================================================
   1 - BASE
   ========================================================================== */
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/
/* line 1, ../sass/_final-css.scss */
.clearfix:after, .dl-horizontal dd:after, .pagination:after {
  clear: both;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact #address a, #grants-contact a, .contact #address a {
  word-wrap: break-word;
}

/* line 1, ../sass/_final-css.scss */
::-moz-selection {
  background: #2d303a;
  color: #fff;
  text-shadow: none;
}

/* line 1, ../sass/_final-css.scss */
::selection {
  background: #2d303a;
  color: #fff;
  text-shadow: none;
}

/* line 1, ../sass/_final-css.scss */
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

/* line 1, ../sass/_final-css.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, ../sass/_final-css.scss */
.hidden, .hide {
  display: none !important;
}

/* line 1, ../sass/_final-css.scss */
.pull-right {
  float: right !important;
}

/* line 1, ../sass/_final-css.scss */
.pull-left {
  float: left !important;
}

/* line 1, ../sass/_final-css.scss */
.hidden {
  visibility: hidden !important;
}

/* line 1, ../sass/_final-css.scss */
.show {
  display: block !important;
}

/* line 1, ../sass/_final-css.scss */
.invisible {
  visibility: hidden;
}

/* line 1, ../sass/_final-css.scss */
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: RobotoMonoRegular,Menlo,Monaco,"Courier New",monospace;
  font-weight: 700;
  line-height: 1.2;
  color: #1a1a1a;
}

/* line 1, ../sass/_final-css.scss */
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small {
  font-weight: 400;
  line-height: 1;
  color: #b3b3b3;
}

/* line 1, ../sass/_final-css.scss */
.h4, .h5, .h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 1, ../sass/_final-css.scss */
.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small {
  font-size: 75%;
}

/* line 1, ../sass/_final-css.scss */
.h1 {
  font-size: 41px;
}

/* line 1, ../sass/_final-css.scss */
.h2 {
  font-size: 34px;
}

/* line 1, ../sass/_final-css.scss */
.h3 {
  font-size: 28px;
}

/* line 1, ../sass/_final-css.scss */
.h4 {
  font-size: 20px;
}

/* line 1, ../sass/_final-css.scss */
.h5 {
  font-size: 16px;
}

/* line 1, ../sass/_final-css.scss */
.h6 {
  font-size: 14px;
}

/* line 1, ../sass/_final-css.scss */
.small {
  font-size: 81%;
}

/* line 1, ../sass/_final-css.scss */
.mark {
  background-color: #f6f0a3;
  padding: 0 6px;
}

/* line 1, ../sass/_final-css.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 1, ../sass/_final-css.scss */
.amp {
  font-family: Papyrus,Baskerville,Palatino,"Book Antiqua",serif;
  font-style: normal;
  font-weight: 400;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote, .page .comment-content blockquote, .page .entry-content blockquote, .page .page blockquote, .page .post-entry blockquote, .single .comment-content blockquote, .single .entry-content blockquote, .single .page blockquote, .single .post-entry blockquote {
  position: relative;
  margin: 25px;
  padding: 40px 20px 40px 80px;
  quotes: "“" "”";
  text-align: left;
  font-family: Ampersand,Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.6;
  color: #b3b3b3;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote::before, .page .comment-content blockquote::before, .page .entry-content blockquote::before, .page .page blockquote::before, .page .post-entry blockquote::before, .single .comment-content blockquote::before, .single .entry-content blockquote::before, .single .page blockquote::before, .single .post-entry blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  content: open-quote;
  font-family: MerriweatherRegular,Georgia,"Times New Roman",Times,serif;
  font-size: 120px;
  color: #00b9a4;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote:after, .page .comment-content blockquote:after, .page .entry-content blockquote:after, .page .page blockquote:after, .page .post-entry blockquote:after, .single .comment-content blockquote:after, .single .entry-content blockquote:after, .single .page blockquote:after, .single .post-entry blockquote:after {
  display: none;
  content: close-quote;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote cite, .page .comment-content blockquote cite, .page .entry-content blockquote cite, .page .page blockquote cite, .page .post-entry blockquote cite, .single .comment-content blockquote cite, .single .entry-content blockquote cite, .single .page blockquote cite, .single .post-entry blockquote cite {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-family: LatoRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: gray;
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a.next:after, #include-pagination .nav-links a.next:before, #include-pagination .nav-links a.prev:after, #include-pagination .nav-links a.prev:before, .include-nav-links a.next:after, .include-nav-links a.next:before, .include-nav-links a.prev:after, .include-nav-links a.prev:before, .top-bar .mini-login .submit:before {
  font-family: FontAwesome;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote cite a, .inc-blockquote cite span, .page .comment-content blockquote cite a, .page .comment-content blockquote cite span, .page .entry-content blockquote cite a, .page .entry-content blockquote cite span, .page .page blockquote cite a, .page .page blockquote cite span, .page .post-entry blockquote cite a, .page .post-entry blockquote cite span, .single .comment-content blockquote cite a, .single .comment-content blockquote cite span, .single .entry-content blockquote cite a, .single .entry-content blockquote cite span, .single .page blockquote cite a, .single .page blockquote cite span, .single .post-entry blockquote cite a, .single .post-entry blockquote cite span {
  text-decoration: none;
  color: gray;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote ::selection, .inc-blockquote::selection, .page .comment-content blockquote ::selection, .page .comment-content blockquote::selection, .page .entry-content blockquote ::selection, .page .entry-content blockquote::selection, .page .page blockquote ::selection, .page .page blockquote::selection, .page .post-entry blockquote ::selection, .page .post-entry blockquote::selection, .single .comment-content blockquote ::selection, .single .comment-content blockquote::selection, .single .entry-content blockquote ::selection, .single .entry-content blockquote::selection, .single .page blockquote ::selection, .single .page blockquote::selection, .single .post-entry blockquote ::selection, .single .post-entry blockquote::selection {
  background: #00b9a4;
  color: #fff;
  text-shadow: none;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote::-moz-selection, .page .comment-content blockquote::-moz-selection, .page .entry-content blockquote::-moz-selection, .page .page blockquote::-moz-selection, .page .post-entry blockquote::-moz-selection, .single .comment-content blockquote::-moz-selection, .single .entry-content blockquote::-moz-selection, .single .page blockquote::-moz-selection, .single .post-entry blockquote::-moz-selection {
  background: #00b9a4;
  color: #fff;
  text-shadow: none;
}

/* line 1, ../sass/_final-css.scss */
.inc-blockquote ::-moz-selection, .page .comment-content blockquote ::-moz-selection, .page .entry-content blockquote ::-moz-selection, .page .page blockquote ::-moz-selection, .page .post-entry blockquote ::-moz-selection, .single .comment-content blockquote ::-moz-selection, .single .entry-content blockquote ::-moz-selection, .single .page blockquote ::-moz-selection, .single .post-entry blockquote ::-moz-selection {
  background: #00b9a4;
  color: #fff;
  text-shadow: none;
}

@media (max-width: 480px) {
  /* line 1, ../sass/_final-css.scss */
  .inc-blockquote, .page .comment-content blockquote, .page .entry-content blockquote, .page .page blockquote, .page .post-entry blockquote, .single .comment-content blockquote, .single .entry-content blockquote, .single .page blockquote, .single .post-entry blockquote {
    margin: 15px 0;
    padding: 30px 20px 0 60px;
    font-size: 24px;
    line-height: 1.6;
  }

  /* line 1, ../sass/_final-css.scss */
  .inc-blockquote::before, .page .comment-content blockquote::before, .page .entry-content blockquote::before, .page .page blockquote::before, .page .post-entry blockquote::before, .single .comment-content blockquote::before, .single .entry-content blockquote::before, .single .page blockquote::before, .single .post-entry blockquote::before {
    font-size: 90px;
  }
}
/* line 1, ../sass/_final-css.scss */
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 1, ../sass/_final-css.scss */
.list-inline {
  margin-left: -5px;
}

/* line 1, ../sass/_final-css.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 1, ../sass/_final-css.scss */
.iconlist, .page .comment-content ul, .page .entry-content ul, .page .page ul, .page .post-entry ul, .page .wpb_text_column ul, .single .comment-content ul, .single .entry-content ul, .single .page ul, .single .post-entry ul, .single-post .post ul {
  padding: 0;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li, .page .comment-content ul li, .page .entry-content ul li, .page .page ul li, .page .post-entry ul li, .page .wpb_text_column ul li, .single .comment-content ul li, .single .entry-content ul li, .single .page ul li, .single .post-entry ul li, .single-post .post ul li {
  list-style: none;
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li li:first-of-type, .iconlist li:first-of-type, .page .comment-content ul li li:first-of-type, .page .comment-content ul li:first-of-type, .page .entry-content ul li li:first-of-type, .page .entry-content ul li:first-of-type, .page .page ul li li:first-of-type, .page .page ul li:first-of-type, .page .post-entry ul li li:first-of-type, .page .post-entry ul li:first-of-type, .page .wpb_text_column ul li li:first-of-type, .page .wpb_text_column ul li:first-of-type, .single .comment-content ul li li:first-of-type, .single .comment-content ul li:first-of-type, .single .entry-content ul li li:first-of-type, .single .entry-content ul li:first-of-type, .single .page ul li li:first-of-type, .single .page ul li:first-of-type, .single .post-entry ul li li:first-of-type, .single .post-entry ul li:first-of-type, .single-post .post ul li li:first-of-type, .single-post .post ul li:first-of-type {
  padding-top: 0;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li li:last-of-type, .iconlist li:last-of-type, .page .comment-content ul li li:last-of-type, .page .comment-content ul li:last-of-type, .page .entry-content ul li li:last-of-type, .page .entry-content ul li:last-of-type, .page .page ul li li:last-of-type, .page .page ul li:last-of-type, .page .post-entry ul li li:last-of-type, .page .post-entry ul li:last-of-type, .page .wpb_text_column ul li li:last-of-type, .page .wpb_text_column ul li:last-of-type, .single .comment-content ul li li:last-of-type, .single .comment-content ul li:last-of-type, .single .entry-content ul li li:last-of-type, .single .entry-content ul li:last-of-type, .single .page ul li li:last-of-type, .single .page ul li:last-of-type, .single .post-entry ul li li:last-of-type, .single .post-entry ul li:last-of-type, .single-post .post ul li li:last-of-type, .single-post .post ul li:last-of-type {
  padding-bottom: 0;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li:before, .page .comment-content ul li:before, .page .entry-content ul li:before, .page .page ul li:before, .page .post-entry ul li:before, .page .wpb_text_column ul li:before, .single .comment-content ul li:before, .single .entry-content ul li:before, .single .page ul li:before, .single .post-entry ul li:before, .single-post .post ul li:before {
  display: inline-block;
  width: 16px;
  margin-left: -16px;
  content: "";
  font-family: FontAwesome;
  font-size: 16px;
  color: #b3b3b3;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li ol, .iconlist li ul, .page .comment-content ul li ol, .page .comment-content ul li ul, .page .entry-content ul li ol, .page .entry-content ul li ul, .page .page ul li ol, .page .page ul li ul, .page .post-entry ul li ol, .page .post-entry ul li ul, .page .wpb_text_column ul li ol, .page .wpb_text_column ul li ul, .single .comment-content ul li ol, .single .comment-content ul li ul, .single .entry-content ul li ol, .single .entry-content ul li ul, .single .page ul li ol, .single .page ul li ul, .single .post-entry ul li ol, .single .post-entry ul li ul, .single-post .post ul li ol, .single-post .post ul li ul {
  padding-top: 5px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li ol li, .page .comment-content ul li ol li, .page .entry-content ul li ol li, .page .page ul li ol li, .page .post-entry ul li ol li, .page .wpb_text_column ul li ol li, .single .comment-content ul li ol li, .single .entry-content ul li ol li, .single .page ul li ol li, .single .post-entry ul li ol li, .single-post .post ul li ol li {
  list-style-type: upper-roman;
  padding-left: 0;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li ol li:before, .page .comment-content ul li ol li:before, .page .entry-content ul li ol li:before, .page .page ul li ol li:before, .page .post-entry ul li ol li:before, .page .wpb_text_column ul li ol li:before, .single .comment-content ul li ol li:before, .single .entry-content ul li ol li:before, .single .page ul li ol li:before, .single .post-entry ul li ol li:before, .single-post .post ul li ol li:before {
  display: none;
}

/* line 1, ../sass/_final-css.scss */
.iconlist li ol ol li, .page .comment-content ul li ol ol li, .page .entry-content ul li ol ol li, .page .page ul li ol ol li, .page .post-entry ul li ol ol li, .page .wpb_text_column ul li ol ol li, .single .comment-content ul li ol ol li, .single .entry-content ul li ol ol li, .single .page ul li ol ol li, .single .post-entry ul li ol ol li, .single-post .post ul li ol ol li {
  list-style-type: lower-roman;
}

/* line 1, ../sass/_final-css.scss */
.imagelist {
  padding: 0;
}

/* line 1, ../sass/_final-css.scss */
.imagelist li {
  list-style: none;
  padding-left: 16px;
  margin-bottom: 7.5px;
}

/* line 1, ../sass/_final-css.scss */
.imagelist li:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -16px;
  background: url(../images/icons/bull.png) left top no-repeat;
  background-size: 16px auto;
  content: "";
  position: relative;
  left: -10px;
  margin-bottom: -3px;
}

/* line 1, ../sass/_final-css.scss */
.dl-horizontal dd:after, .dl-horizontal dd:before {
  content: " ";
  display: table;
}

@media (min-width: 768px) {
  /* line 1, ../sass/_final-css.scss */
  .dl-horizontal dt {
    float: left;
    width: 175px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* line 1, ../sass/_final-css.scss */
  .dl-horizontal dd {
    margin-left: 200px;
  }
}
/* line 1, ../sass/_final-css.scss */
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
  padding: 5px;
}

/* line 1, ../sass/_final-css.scss */
.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #e6e6e6;
}

/* line 1, ../sass/_final-css.scss */
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-bottom-width: 2px;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content .table > tbody > tr:nth-child(even) > td, .page .comment-content .table > tbody > tr:nth-child(even) > th, .page .comment-content table > tbody > tr:nth-child(even) > td, .page .comment-content table > tbody > tr:nth-child(even) > th, .page .entry-content .table > tbody > tr:nth-child(even) > td, .page .entry-content .table > tbody > tr:nth-child(even) > th, .page .entry-content table > tbody > tr:nth-child(even) > td, .page .entry-content table > tbody > tr:nth-child(even) > th, .page .page .table > tbody > tr:nth-child(even) > td, .page .page .table > tbody > tr:nth-child(even) > th, .page .page table > tbody > tr:nth-child(even) > td, .page .page table > tbody > tr:nth-child(even) > th, .page .post-entry .table > tbody > tr:nth-child(even) > td, .page .post-entry .table > tbody > tr:nth-child(even) > th, .page .post-entry table > tbody > tr:nth-child(even) > td, .page .post-entry table > tbody > tr:nth-child(even) > th, .single .comment-content .table > tbody > tr:nth-child(even) > td, .single .comment-content .table > tbody > tr:nth-child(even) > th, .single .comment-content table > tbody > tr:nth-child(even) > td, .single .comment-content table > tbody > tr:nth-child(even) > th, .single .entry-content .table > tbody > tr:nth-child(even) > td, .single .entry-content .table > tbody > tr:nth-child(even) > th, .single .entry-content table > tbody > tr:nth-child(even) > td, .single .entry-content table > tbody > tr:nth-child(even) > th, .single .page .table > tbody > tr:nth-child(even) > td, .single .page .table > tbody > tr:nth-child(even) > th, .single .page table > tbody > tr:nth-child(even) > td, .single .page table > tbody > tr:nth-child(even) > th, .single .post-entry .table > tbody > tr:nth-child(even) > td, .single .post-entry .table > tbody > tr:nth-child(even) > th, .single .post-entry table > tbody > tr:nth-child(even) > td, .single .post-entry table > tbody > tr:nth-child(even) > th, .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 1, ../sass/_final-css.scss */
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.08);
}

/* line 1, ../sass/_final-css.scss */
.table-responsive {
  overflow: scroll;
}

@media screen and (max-width: 767px) {
  /* line 1, ../sass/_final-css.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #e6e6e6;
    -webkit-overflow-scrolling: touch;
  }

  /* line 1, ../sass/_final-css.scss */
  .table-responsive > .table {
    margin-bottom: 0;
  }

  /* line 1, ../sass/_final-css.scss */
  .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
    white-space: nowrap;
  }

  /* line 1, ../sass/_final-css.scss */
  .table-responsive > .table-bordered {
    border: 0;
  }

  /* line 1, ../sass/_final-css.scss */
  .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-left: 0;
  }

  /* line 1, ../sass/_final-css.scss */
  .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-right: 0;
  }

  /* line 1, ../sass/_final-css.scss */
  .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
  }
}
/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_select, .styled-select, .wpcf7 form p select {
  width: 100%;
  height: 34px;
  max-width: 100%;
  padding: 5px 10px;
  border: 2px solid #e6e6e6;
  border-radius: 0;
  font-size: 13.6px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAICAYAAAASqmTuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANFJREFUeNpiPHr0aAsDA8MbKyurCQx4wLFjx5iAVCMQfwGq7WQgAoA0FAJxL1BzNgG1tUBcA8SpDEQCkOGRINcA8RSgBWk4XA0ytAGIn5JiOOP///9Bml2B7LVAzAvyCSyIoEHRBMTVQPwSiP2BcidJcTkDUMNuIBUBxB+BuAdoaDJUvgJqMMjFIaQYDHc5kvd9gdRCIOYH4u1A7A3Ez4E4DGjwEQYSAYrhUAs8gNQqaBCBgiIIaPAxBjIAE7oA0KAdQCoBiA8AcSy5BoMAQIABAAP+RzgQ0KsrAAAAAElFTkSuQmCC) right center no-repeat rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all .5s;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_select:focus, .styled-select:focus, .wpcf7 form p select:focus {
  border: 2px solid gray;
  outline: 0;
  box-shadow: none;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_select option, .styled-select option, .wpcf7 form p select option {
  padding: 5px;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_select::-ms-expand, .styled-select::-ms-expand, .wpcf7 form p select::-ms-expand {
  display: none;
}

@media (max-width: 480px) {
  /* line 1, ../sass/_final-css.scss */
  .gform_wrapper form .gform_body .gfield .ginput_container .gfield_select, .styled-select, .wpcf7 form p select {
    background-position: 95% center;
  }
}
/* line 1, ../sass/_final-css.scss */
mark {
  background-color: #f6f0a3;
  padding: 0 5px;
}

@media print {
  /* line 1, ../sass/_final-css.scss */
  .masthead, .top-bar {
    display: none !important;
  }
}
/* line 1, ../sass/_final-css.scss */
.page-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 1, ../sass/_final-css.scss */
#main {
  flex: 1;
}

@media print {
  /* line 1, ../sass/_final-css.scss */
  .page-title {
    background: 0 0 !important;
    text-align: left !important;
    border: none !important;
    box-shadow: none !important;
  }

  /* line 1, ../sass/_final-css.scss */
  .page-title h1 {
    color: #000 !important;
    font-size: 28px !important;
    margin-bottom: 25px !important;
  }

  /* line 1, ../sass/_final-css.scss */
  #footer, .page-title .wf-td {
    display: none !important;
  }
}
/* line 1, ../sass/_final-css.scss */
.no-results, .single .include-post-meta {
  text-align: center;
}

@media print {
  /* line 1, ../sass/_final-css.scss */
  #bottom_bar {
    display: none !important;
  }
}
/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links, .include-nav-links {
  display: flex;
  justify-content: center;
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a, #include-pagination .nav-links span, .include-nav-links a, .include-nav-links span {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a:hover, #include-pagination .nav-links span:hover, .include-nav-links a:hover, .include-nav-links span:hover {
  text-decoration: none;
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a.page-numbers, .include-nav-links a.page-numbers {
  border-bottom: 3px solid #fff;
  margin: 0 4px;
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a.page-numbers:hover, .include-nav-links a.page-numbers:hover {
  border-bottom: 3px solid #000;
  text-decoration: none;
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a.next:hover, #include-pagination .nav-links a.prev:hover, .include-nav-links a.next:hover, .include-nav-links a.prev:hover {
  border-bottom: 3px solid #fff;
  text-decoration: none;
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a.prev:before, .include-nav-links a.prev:before {
  content: '\f053';
  content: '\f177';
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links a.next:after, .include-nav-links a.next:after {
  content: '\f054';
  content: '\f178';
}

/* line 1, ../sass/_final-css.scss */
#include-pagination .nav-links span.current, .include-nav-links span.current {
  background: #e6e6e6;
}

@media (max-width: 767px) {
  /* line 1, ../sass/_final-css.scss */
  #include-above-content .wf-wrap, #include-below-content .wf-wrap {
    padding: 0 20px;
  }

  /* line 1, ../sass/_final-css.scss */
  #include-pagination {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_final-css.scss */
  .archive.sidebar-none #content, .blog.sidebar-none #content, .error404.sidebar-none #content, .search.sidebar-none #content {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/_final-css.scss */
  .archive.sidebar-none #content, .blog.sidebar-none #content, .error404.sidebar-none #content, .search.sidebar-none #content {
    padding: 0 100px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_final-css.scss */
  .archive.sidebar-none #content, .blog.sidebar-none #content, .error404.sidebar-none #content, .search.sidebar-none #content {
    padding: 0 150px;
  }
}
/* line 1, ../sass/_final-css.scss */
#include-pagination {
  margin-top: 75px;
  width: 100%;
}

/* line 1, ../sass/_final-css.scss */
.pagination:after, .pagination:before {
  content: " ";
  display: table;
}

/* line 1, ../sass/_final-css.scss */
.no-results p {
  font-size: 13px;
}

/* line 1, ../sass/_final-css.scss */
.post-password-form {
  width: 50%;
  margin: 50px auto;
  padding: 35px;
  background: #e6e6e6;
  border-radius: 32px 16px 64px/8px 48px;
}

@media (max-width: 767px) {
  /* line 1, ../sass/_final-css.scss */
  .post-password-form {
    width: 75%;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/_final-css.scss */
  .post-password-form {
    width: 100%;
  }
}
/* line 1, ../sass/_final-css.scss */
.page .comment-content p a, .page .entry-content p a, .page .page p a, .page .post-entry p a, .single .comment-content p a, .single .entry-content p a, .single .page p a, .single .post-entry p a {
  color: #00b9a4;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content p a:hover, .page .entry-content p a:hover, .page .page p a:hover, .page .post-entry p a:hover, .single .comment-content p a:hover, .single .entry-content p a:hover, .single .page p a:hover, .single .post-entry p a:hover {
  color: #07ffe3;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ol, .page .comment-content ul, .page .entry-content ol, .page .entry-content ul, .page .page ol, .page .page ul, .page .post-entry ol, .page .post-entry ul, .single .comment-content ol, .single .comment-content ul, .single .entry-content ol, .single .entry-content ul, .single .page ol, .single .page ul, .single .post-entry ol, .single .post-entry ul {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.4;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ol li, .page .comment-content ul li, .page .entry-content ol li, .page .entry-content ul li, .page .page ol li, .page .page ul li, .page .post-entry ol li, .page .post-entry ul li, .single .comment-content ol li, .single .comment-content ul li, .single .entry-content ol li, .single .entry-content ul li, .single .page ol li, .single .page ul li, .single .post-entry ol li, .single .post-entry ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ol li li:first-of-type, .page .comment-content ol li:first-of-type, .page .comment-content ul li li:first-of-type, .page .comment-content ul li:first-of-type, .page .entry-content ol li li:first-of-type, .page .entry-content ol li:first-of-type, .page .entry-content ul li li:first-of-type, .page .entry-content ul li:first-of-type, .page .page ol li li:first-of-type, .page .page ol li:first-of-type, .page .page ul li li:first-of-type, .page .page ul li:first-of-type, .page .post-entry ol li li:first-of-type, .page .post-entry ol li:first-of-type, .page .post-entry ul li li:first-of-type, .page .post-entry ul li:first-of-type, .single .comment-content ol li li:first-of-type, .single .comment-content ol li:first-of-type, .single .comment-content ul li li:first-of-type, .single .comment-content ul li:first-of-type, .single .entry-content ol li li:first-of-type, .single .entry-content ol li:first-of-type, .single .entry-content ul li li:first-of-type, .single .entry-content ul li:first-of-type, .single .page ol li li:first-of-type, .single .page ol li:first-of-type, .single .page ul li li:first-of-type, .single .page ul li:first-of-type, .single .post-entry ol li li:first-of-type, .single .post-entry ol li:first-of-type, .single .post-entry ul li li:first-of-type, .single .post-entry ul li:first-of-type {
  padding-top: 0;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ol li li:last-of-type, .page .comment-content ol li:last-of-type, .page .comment-content ul li li:last-of-type, .page .comment-content ul li:last-of-type, .page .entry-content ol li li:last-of-type, .page .entry-content ol li:last-of-type, .page .entry-content ul li li:last-of-type, .page .entry-content ul li:last-of-type, .page .page ol li li:last-of-type, .page .page ol li:last-of-type, .page .page ul li li:last-of-type, .page .page ul li:last-of-type, .page .post-entry ol li li:last-of-type, .page .post-entry ol li:last-of-type, .page .post-entry ul li li:last-of-type, .page .post-entry ul li:last-of-type, .single .comment-content ol li li:last-of-type, .single .comment-content ol li:last-of-type, .single .comment-content ul li li:last-of-type, .single .comment-content ul li:last-of-type, .single .entry-content ol li li:last-of-type, .single .entry-content ol li:last-of-type, .single .entry-content ul li li:last-of-type, .single .entry-content ul li:last-of-type, .single .page ol li li:last-of-type, .single .page ol li:last-of-type, .single .page ul li li:last-of-type, .single .page ul li:last-of-type, .single .post-entry ol li li:last-of-type, .single .post-entry ol li:last-of-type, .single .post-entry ul li li:last-of-type, .single .post-entry ul li:last-of-type {
  padding-bottom: 0;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ol ol, .page .comment-content ol ul, .page .comment-content ul ol, .page .comment-content ul ul, .page .entry-content ol ol, .page .entry-content ol ul, .page .entry-content ul ol, .page .entry-content ul ul, .page .page ol ol, .page .page ol ul, .page .page ul ol, .page .page ul ul, .page .post-entry ol ol, .page .post-entry ol ul, .page .post-entry ul ol, .page .post-entry ul ul, .single .comment-content ol ol, .single .comment-content ol ul, .single .comment-content ul ol, .single .comment-content ul ul, .single .entry-content ol ol, .single .entry-content ol ul, .single .entry-content ul ol, .single .entry-content ul ul, .single .page ol ol, .single .page ol ul, .single .page ul ol, .single .page ul ul, .single .post-entry ol ol, .single .post-entry ol ul, .single .post-entry ul ol, .single .post-entry ul ul {
  padding-top: 5px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ol, .page .entry-content ol, .page .page ol, .page .post-entry ol, .single .comment-content ol, .single .entry-content ol, .single .page ol, .single .post-entry ol {
  padding-left: 50px;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ol ol, .page .entry-content ol ol, .page .page ol ol, .page .post-entry ol ol, .single .comment-content ol ol, .single .entry-content ol ol, .single .page ol ol, .single .post-entry ol ol {
  padding-left: 25px;
}

/* line 1, ../sass/_final-css.scss */
.page .comment-content ul li:before, .page .entry-content ul li:before, .page .page ul li:before, .page .post-entry ul li:before, .single .comment-content ul li:before, .single .entry-content ul li:before, .single .page ul li:before, .single .post-entry ul li:before {
  color: #f35142;
}

/* line 1, ../sass/_final-css.scss */
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/_final-css.scss */
.aligncenter, .alignleft, .alignnone, .alignright {
  margin-bottom: 5px;
}

/* line 1, ../sass/_final-css.scss */
.alignnone {
  float: none;
}

/* line 1, ../sass/_final-css.scss */
.aligncenter {
  display: block;
  margin: 0 auto 5px;
}

/* line 1, ../sass/_final-css.scss */
.alignleft {
  float: left;
  margin-right: 20px;
}

/* line 1, ../sass/_final-css.scss */
.alignright {
  float: right;
  margin-left: 20px;
}

/* line 1, ../sass/_final-css.scss */
#include-related-posts h3, h2.comments-title, h3#reply-title {
  position: relative;
  margin-bottom: 50px;
  padding: 0 0 10px;
  text-align: center;
  font-size: 22px;
  overflow: hidden;
  word-wrap: break-word;
}

/* line 1, ../sass/_final-css.scss */
#include-related-posts h3:after, h2.comments-title:after, h3#reply-title:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 3px;
  margin-left: -30px;
  content: "";
  color: #fff;
  background-color: #4d4d4d;
}

/* line 1, ../sass/_final-css.scss */
.search-highlight {
  background: #f6f0a3;
  padding: 0 5px;
}

@media (min-width: 768px) {
  /* line 1, ../sass/_final-css.scss */
  .archive .sidebar-none #content, .blog .sidebar-none #content, .error404 .sidebar-none #content, .search .sidebar-none #content {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/_final-css.scss */
  .archive .sidebar-none #content, .blog .sidebar-none #content, .error404 .sidebar-none #content, .search .sidebar-none #content {
    padding: 0 100px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_final-css.scss */
  .archive .sidebar-none #content, .blog .sidebar-none #content, .error404 .sidebar-none #content, .search .sidebar-none #content {
    padding: 0 150px;
  }
}
@media print {
  /* line 1, ../sass/_final-css.scss */
  #include-pagination, #include-search-again, .post-password-form {
    display: none !important;
  }
}
/* line 1, ../sass/_final-css.scss */
.page .comment-content *, .page .comment-content :after, .page .comment-content :before, .page .entry-content *, .page .entry-content :after, .page .entry-content :before, .page .page *, .page .page :after, .page .page :before, .page .post-entry *, .page .post-entry :after, .page .post-entry :before, .single .comment-content *, .single .comment-content :after, .single .comment-content :before, .single .entry-content *, .single .entry-content :after, .single .entry-content :before, .single .page *, .single .page :after, .single .page :before, .single .post-entry *, .single .post-entry :after, .single .post-entry :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form p label sup {
  color: #d9534f;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form p .wpcf7-form-control-wrap {
  margin: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form p .wpcf7-textarea, .wpcf7 form p input[type=text], .wpcf7 form p input[type=email] {
  transition: all .3s ease 0s;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form p .wpcf7-checkbox, .wpcf7 form p .wpcf7-radio {
  display: block;
  margin: 5px 8px 5px 0;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form p .wpcf7-checkbox .wpcf7-list-item, .wpcf7 form p .wpcf7-radio .wpcf7-list-item {
  display: block;
  margin: 0;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form p .wpcf7-checkbox .wpcf7-list-item label label.error, .wpcf7 form p .wpcf7-radio .wpcf7-list-item label label.error {
  display: none !important;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form p .wpcf7-checkbox .wpcf7-list-item .wpcf7-list-item-label, .wpcf7 form p .wpcf7-radio .wpcf7-list-item .wpcf7-list-item-label {
  font-weight: 400;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form .wpcf7-response-output .wpcf7-not-valid-tip-text, .wpcf7 form .wpcf7-response-output .wpcf7-valid-tip-text {
  padding-left: 65px;
  padding-right: 10px;
  line-height: 1.4;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form .wpcf7-not-valid:not(.wpcf7-select), .wpcf7 form input.error, .wpcf7 form textarea.error {
  border-color: #e6e6e6 #e6e6e6 #900 !important;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form .wpcf7-not-valid-tip, .wpcf7 form label.error {
  display: block;
  padding: 0;
  margin-top: 3px;
  font-size: 11.56px;
  font-weight: 700;
  color: #900;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .validation_error, .widget .wpcf7 .ajax-loader {
  display: none;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form .wpcf7-mail-sent-ok, .wpcf7 form .wpcf7-validation-errors {
  border: none !important;
  padding: 0 !important;
  text-align: left !important;
  line-height: 1.2 !important;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form .wpcf7-file + .wpcf7-not-valid-tip {
  margin-top: 2px;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form .wpcf7-validation-errors {
  color: #900 !important;
}

/* line 1, ../sass/_final-css.scss */
.wpcf7 form .wpcf7-mail-sent-ok {
  color: #5cb85c !important;
}

/* line 1, ../sass/_final-css.scss */
.widget .wpcf7 label sup {
  padding-left: 3px;
}

/* line 1, ../sass/_final-css.scss */
.widget .wpcf7 p {
  margin-top: 10px;
}

/* line 1, ../sass/_final-css.scss */
.widget .wpcf7 input[type=submit] {
  margin-top: 0;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper {
  font-size: 16px;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gform_fields {
  line-height: .5;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield {
  margin: 0 !important;
  padding-right: 0 !important;
  line-height: .5;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .gfield_label {
  line-height: 1;
  font-size: 13.6px;
  font-weight: 700;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .gfield_label .gfield_required {
  color: #d9534f !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container {
  margin-top: 5px;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container input[type=text], .gform_wrapper form .gform_body .gfield .ginput_container input[type=email], .gform_wrapper form .gform_body .gfield .ginput_container input[type=password], .gform_wrapper form .gform_body .gfield .ginput_container input[type=datetime], .gform_wrapper form .gform_body .gfield .ginput_container input[type=datetime-local], .gform_wrapper form .gform_body .gfield .ginput_container input[type=date], .gform_wrapper form .gform_body .gfield .ginput_container input[type=month], .gform_wrapper form .gform_body .gfield .ginput_container input[type=time], .gform_wrapper form .gform_body .gfield .ginput_container input[type=week], .gform_wrapper form .gform_body .gfield .ginput_container input[type=number], .gform_wrapper form .gform_body .gfield .ginput_container input[type=url], .gform_wrapper form .gform_body .gfield .ginput_container input[type=search], .gform_wrapper form .gform_body .gfield .ginput_container input[type=tel], .gform_wrapper form .gform_body .gfield .ginput_container textarea {
  padding: 5px 10px !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container textarea {
  height: 136px;
  line-height: 1.5 !important;
  resize: vertical;
  transition: all 0.5s !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_select {
  font-size: 13.6px;
  height: auto;
  line-height: 1.5;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_select option {
  padding: 0 5px;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_checkbox, .gform_wrapper form .gform_body .gfield .ginput_container .gfield_radio {
  margin-top: 5px !important;
  margin-bottom: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_checkbox li, .gform_wrapper form .gform_body .gfield .ginput_container .gfield_radio li {
  margin: 0 !important;
  line-height: 1.5 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_checkbox li input, .gform_wrapper form .gform_body .gfield .ginput_container .gfield_checkbox li label, .gform_wrapper form .gform_body .gfield .ginput_container .gfield_radio li input, .gform_wrapper form .gform_body .gfield .ginput_container .gfield_radio li label {
  line-height: 1.5 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_body .gfield .ginput_container .gfield_checkbox li label, .gform_wrapper form .gform_body .gfield .ginput_container .gfield_radio li label {
  font-size: 13.6px;
  font-weight: 400;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_footer {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gform_footer button, .gform_wrapper form .gform_footer input[type=submit], .gform_wrapper form .gform_footer input[type=reset] {
  margin-top: 25px !important;
  line-height: 1 !important;
  text-transform: uppercase !important;
  border-radius: 0 !important;
  padding: 10px 15px !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gfield_error {
  border: none !important;
  padding: 0 !important;
  background: 0 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gfield_error .gfield_label {
  margin: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gfield_error .ginput_container {
  margin: 5px 0 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gfield_error input[type=text], .gform_wrapper form .gfield_error input[type=email], .gform_wrapper form .gfield_error input[type=password], .gform_wrapper form .gfield_error input[type=datetime], .gform_wrapper form .gfield_error input[type=datetime-local], .gform_wrapper form .gfield_error input[type=date], .gform_wrapper form .gfield_error input[type=month], .gform_wrapper form .gfield_error input[type=time], .gform_wrapper form .gfield_error input[type=week], .gform_wrapper form .gfield_error input[type=number], .gform_wrapper form .gfield_error input[type=url], .gform_wrapper form .gfield_error input[type=search], .gform_wrapper form .gfield_error input[type=tel], .gform_wrapper form .gfield_error textarea {
  border-width: 2px !important;
  border-color: #e6e6e6 #e6e6e6 #900 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gfield_error .validation_message {
  color: #900;
  font-size: 11.56px !important;
  padding: 0 0 5px !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper form .gfield_error .ginput_container_fileupload + .validation_message {
  margin-top: 4px;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper.gform_validation_error .gfield {
  padding-left: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_confirmation_wrapper .gform_confirmation_message {
  margin: 20px 0;
  color: #5cb85c;
  line-height: 1.2;
}

/* line 1, ../sass/_final-css.scss */
.gfield_description {
  margin-bottom: 15px;
}

/* line 1, ../sass/_final-css.scss */
.mejs-container {
  width: 100%;
}

/* line 1, ../sass/_final-css.scss */
.mejs-container .mejs-time-loaded {
  background: #fff;
}

/* line 1, ../sass/_final-css.scss */
.mejs-container .mejs-time-current {
  background: #00b9a4 !important;
}

/* line 1, ../sass/_final-css.scss */
.home #main, .home .top-bar:before {
  background: 0 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.main-container .preloader {
  display: none !important;
}

/* line 1, ../sass/_final-css.scss */
.main-container #wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 1, ../sass/_final-css.scss */
.home .branding, .home .mobile-branding, .main-container footer {
  display: none;
}

/* line 1, ../sass/_final-css.scss */
.main-container #wrapper .logo-box, .main-container #wrapper .logo-box-retina {
  padding: 0;
  margin: 0 0 15px;
}

/* line 1, ../sass/_final-css.scss */
.main-container #wrapper #content {
  position: static !important;
}

/* line 1, ../sass/_final-css.scss */
.main-container #wrapper #content .description p {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 1, ../sass/_final-css.scss */
.main-container #wrapper #content .heading {
  font-size: 22px;
  text-transform: uppercase;
}

/* line 1, ../sass/_final-css.scss */
.login-form-container * {
  color: #fff !important;
}

/* line 1, ../sass/_final-css.scss */
.login-form-container #submit {
  border-color: #fff !important;
}

/* line 1, ../sass/_final-css.scss */
.home .mobile-header-bar {
  justify-content: flex-end !important;
}

/* line 1, ../sass/_final-css.scss */
.home .page-inner {
  min-height: auto !important;
}

/* line 1, ../sass/_final-css.scss */
.page, body, html {
  min-height: 100vh;
}

/* line 1, ../sass/_final-css.scss */
.home #home-intro {
  font-weight: 500;
}

/* line 1, ../sass/_final-css.scss */
.home .ef-button {
  border-bottom: 3px solid #00b9a4;
  transition: all 0.5s ease 0s !important;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 1, ../sass/_final-css.scss */
.home .ef-button .text-wrap {
  white-space: nowrap;
}

/* line 1, ../sass/_final-css.scss */
.home .ef-button:hover {
  border-bottom: 3px solid #f35142;
  box-shadow: initial !important;
  background: #353844;
}

@media (max-width: 767px) {
  /* line 1, ../sass/_final-css.scss */
  .gform_button, .wpcf7-submit {
    width: 100%;
  }

  /* line 1, ../sass/_final-css.scss */
  .home .ef-button {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/_final-css.scss */
  .home #content .vc_col-sm-2 {
    display: none !important;
  }
}
/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7 label, .contact .wpcf7 label {
  font-size: 14px;
  font-weight: 700;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7 input[type=email], #grants-contact .wpcf7 input[type=password], #grants-contact .wpcf7 input[type=tel], #grants-contact .wpcf7 input[type=text], #grants-contact .wpcf7 textarea, .contact .wpcf7 input[type=email], .contact .wpcf7 input[type=password], .contact .wpcf7 input[type=tel], .contact .wpcf7 input[type=text], .contact .wpcf7 textarea {
  transition: all .3s ease 0s;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7 input[type=email]:focus, #grants-contact .wpcf7 input[type=password]:focus, #grants-contact .wpcf7 input[type=tel]:focus, #grants-contact .wpcf7 input[type=text]:focus, #grants-contact .wpcf7 textarea:focus, .contact .wpcf7 input[type=email]:focus, .contact .wpcf7 input[type=password]:focus, .contact .wpcf7 input[type=tel]:focus, .contact .wpcf7 input[type=text]:focus, .contact .wpcf7 textarea:focus {
  border-color: #666;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact #contact-details, .contact #contact-details {
  font-size: 16px;
  line-height: 1.5;
  word-break: break-all;
  font-weight: 700;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact #address, .contact #address {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact #contact-notes, .contact #contact-notes {
  font-size: 16px;
  line-height: 1.5;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7-not-valid-tip, .contact .wpcf7-not-valid-tip {
  margin-top: -5px !important;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7-not-valid-tip-text, #grants-contact .wpcf7-valid-tip-text, .contact .wpcf7-not-valid-tip-text, .contact .wpcf7-valid-tip-text {
  color: #fff;
  line-height: 1.3;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f35142;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact {
  width: 100% !important;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact a[href*=tel] {
  font-size: 20px;
  word-break: normal;
  white-space: nowrap;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .form-column {
  width: 50%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7-form-control-wrap {
  display: block;
  position: relative;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  position: absolute;
  top: 1px;
  left: 2px;
  margin: 0;
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  padding-top: 8px;
  color: #d9534f;
  background: 0 0;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7 p {
  margin: 0;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7 textarea {
  height: 182px;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact .wpcf7-submit {
  float: right;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact-instructions {
  display: flex;
  padding: 25px 15px 0;
  font-size: 16px;
  line-height: 1.5;
}

/* line 1, ../sass/_final-css.scss */
.application-forms .tablepress caption, .archive .edit-link, .archive .entry-meta .author, .archive .entry-meta .category-link, .archive .page-title, .information-for-applicants .tablepress caption, .overview .tablepress caption, .page-id-6 .entry-meta .author, .page-id-6 .entry-meta .category-link, .search .edit-link, .search .entry-meta .author, .search .entry-meta .category-link, .search .page-title {
  display: none;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact-instructions strong {
  font-size: 15px;
}

@media (max-width: 1200px) {
  /* line 1, ../sass/_final-css.scss */
  #grants-contact .vc_col-sm-3 {
    width: 20%;
  }

  /* line 1, ../sass/_final-css.scss */
  #grants-contact .vc_col-sm-6 {
    width: 60%;
  }
}
@media (max-width: 991px) {
  /* line 1, ../sass/_final-css.scss */
  #grants-contact .vc_col-sm-3 {
    width: 15%;
  }

  /* line 1, ../sass/_final-css.scss */
  #grants-contact .vc_col-sm-6 {
    width: 70%;
  }
}
/* line 1, ../sass/_final-css.scss */
.page-id-6 .post-entry-content {
  background: 0 0 !important;
  text-align: center !important;
}

/* line 1, ../sass/_final-css.scss */
#application-forms .tablepress .column-2, #information-for-applicants .tablepress .column-2, #information-for-applicants .tablepress .column-3, .single-post .post h3 {
  text-align: center;
}

/* line 1, ../sass/_final-css.scss */
.page-id-6 .entry-title {
  text-transform: uppercase;
}

/* line 1, ../sass/_final-css.scss */
.page-id-6 .post-details {
  float: none;
}

/* line 1, ../sass/_final-css.scss */
.paginator .button-load-more {
  background: #fff;
}

/* line 1, ../sass/_final-css.scss */
.single-post .post {
  padding: 0 150px;
}

/* line 1, ../sass/_final-css.scss */
.single-post .post p {
  margin-bottom: 20px;
}

/* line 1, ../sass/_final-css.scss */
.single-post .post h3 {
  font-weight: 400;
  margin-top: 35px;
}

@media (max-width: 767px) {
  /* line 1, ../sass/_final-css.scss */
  #grants-contact .vc_col-sm-3 {
    width: 0;
  }

  /* line 1, ../sass/_final-css.scss */
  #grants-contact .vc_col-sm-6 {
    width: 100%;
  }

  /* line 1, ../sass/_final-css.scss */
  .single-post .page-title .wf-table {
    vertical-align: middle;
  }

  /* line 1, ../sass/_final-css.scss */
  .single-post .post {
    padding: 0 75px;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/_final-css.scss */
  .single-post .post {
    padding: 0 10px;
  }
}
/* line 1, ../sass/_final-css.scss */
.archive .entry-title, .search .entry-title {
  font-size: 24px;
  font-weight: 500;
}

/* line 1, ../sass/_final-css.scss */
.application-forms .page .comment-content table, .application-forms .page .entry-content table, .application-forms .page .page table, .application-forms .page .post-entry table, .application-forms .single .comment-content table, .application-forms .single .entry-content table, .application-forms .single .page table, .application-forms .single .post-entry table, .application-forms .table, .application-forms table, .information-for-applicants .page .comment-content table, .information-for-applicants .page .entry-content table, .information-for-applicants .page .page table, .information-for-applicants .page .post-entry table, .information-for-applicants .single .comment-content table, .information-for-applicants .single .entry-content table, .information-for-applicants .single .page table, .information-for-applicants .single .post-entry table, .information-for-applicants .table, .information-for-applicants table, .overview .page .comment-content table, .overview .page .entry-content table, .overview .page .page table, .overview .page .post-entry table, .overview .single .comment-content table, .overview .single .entry-content table, .overview .single .page table, .overview .single .post-entry table, .overview .table, .overview table, .page .comment-content .application-forms table, .page .comment-content .information-for-applicants table, .page .comment-content .overview table, .page .entry-content .application-forms table, .page .entry-content .information-for-applicants table, .page .entry-content .overview table, .page .page .application-forms table, .page .page .information-for-applicants table, .page .page .overview table, .page .post-entry .application-forms table, .page .post-entry .information-for-applicants table, .page .post-entry .overview table, .single .comment-content .application-forms table, .single .comment-content .information-for-applicants table, .single .comment-content .overview table, .single .entry-content .application-forms table, .single .entry-content .information-for-applicants table, .single .entry-content .overview table, .single .page .application-forms table, .single .page .information-for-applicants table, .single .page .overview table, .single .post-entry .application-forms table, .single .post-entry .information-for-applicants table, .single .post-entry .overview table {
  font-size: 18px !important;
  border-bottom: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.application-forms .page .comment-content table strong, .application-forms .page .entry-content table strong, .application-forms .page .page table strong, .application-forms .page .post-entry table strong, .application-forms .single .comment-content table strong, .application-forms .single .entry-content table strong, .application-forms .single .page table strong, .application-forms .single .post-entry table strong, .application-forms .table strong, .application-forms table strong, .information-for-applicants .page .comment-content table strong, .information-for-applicants .page .entry-content table strong, .information-for-applicants .page .page table strong, .information-for-applicants .page .post-entry table strong, .information-for-applicants .single .comment-content table strong, .information-for-applicants .single .entry-content table strong, .information-for-applicants .single .page table strong, .information-for-applicants .single .post-entry table strong, .information-for-applicants .table strong, .information-for-applicants table strong, .overview .page .comment-content table strong, .overview .page .entry-content table strong, .overview .page .page table strong, .overview .page .post-entry table strong, .overview .single .comment-content table strong, .overview .single .entry-content table strong, .overview .single .page table strong, .overview .single .post-entry table strong, .overview .table strong, .overview table strong, .page .comment-content .application-forms table strong, .page .comment-content .information-for-applicants table strong, .page .comment-content .overview table strong, .page .entry-content .application-forms table strong, .page .entry-content .information-for-applicants table strong, .page .entry-content .overview table strong, .page .page .application-forms table strong, .page .page .information-for-applicants table strong, .page .page .overview table strong, .page .post-entry .application-forms table strong, .page .post-entry .information-for-applicants table strong, .page .post-entry .overview table strong, .single .comment-content .application-forms table strong, .single .comment-content .information-for-applicants table strong, .single .comment-content .overview table strong, .single .entry-content .application-forms table strong, .single .entry-content .information-for-applicants table strong, .single .entry-content .overview table strong, .single .page .application-forms table strong, .single .page .information-for-applicants table strong, .single .page .overview table strong, .single .post-entry .application-forms table strong, .single .post-entry .information-for-applicants table strong, .single .post-entry .overview table strong {
  font-size: 18px !important;
}

/* line 1, ../sass/_final-css.scss */
.application-forms .tablepress tr td, .information-for-applicants .tablepress tr td, .overview .tablepress tr td {
  line-height: 1.2;
  vertical-align: middle !important;
}

/* line 1, ../sass/_final-css.scss */
.application-forms .tablepress tr:hover td, .information-for-applicants .tablepress tr:hover td, .overview .tablepress tr:hover td {
  background: rgba(0, 0, 0, 0.1) !important;
}

/* line 1, ../sass/_final-css.scss */
.application-forms .table-container, .information-for-applicants .table-container, .overview .table-container {
  max-width: 100%;
  width: 100%;
  overflow: scroll;
}

/* line 1, ../sass/_final-css.scss */
#grants .tablepress tr td {
  border-bottom: 1px solid #ccc;
  border-top: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
#grants .tablepress .row-10 td, #grants .tablepress .row-15 td, #grants .tablepress .row-5 td {
  border: 0 !important;
  padding-top: 15px;
}

/* line 1, ../sass/_final-css.scss */
#grants .tablepress .row-12 td, #grants .tablepress .row-14 td, #grants .tablepress .row-17 td, #grants .tablepress .row-19 td, #grants .tablepress .row-2 td, #grants .tablepress .row-4 td, #grants .tablepress .row-7 td, #grants .tablepress .row-9 td, #grants .tablepress.tablepress-id-4 .row-2 td, #grants .tablepress.tablepress-id-4 .row-3 td, #grants .tablepress.tablepress-id-4 .row-4 td {
  background: #f9f9f9;
}

/* line 1, ../sass/_final-css.scss */
#grants .tablepress .row-10:hover td, #grants .tablepress .row-11:hover td, #grants .tablepress .row-15:hover td, #grants .tablepress .row-16:hover td, #grants .tablepress .row-1:hover td, #grants .tablepress .row-5:hover td, #grants .tablepress .row-6:hover td {
  background: 0 0 !important;
}

/* line 1, ../sass/_final-css.scss */
#grants .tablepress td[colspan="2"] {
  text-align: center;
  font-weight: 700;
}

/* line 1, ../sass/_final-css.scss */
#application-forms .tablepress tr td, #information-for-applicants .tablepress tr td {
  border: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
#application-forms .tablepress tr:hover td, #information-for-applicants .tablepress tr:hover td {
  background: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
#application-forms .tablepress .btn-shortcode:hover, #information-for-applicants .tablepress .btn-shortcode:hover {
  text-decoration: none !important;
}

/* line 1, ../sass/_final-css.scss */
#information-for-applicants .tablepress .column-2 .btn-shortcode {
  background: #2b589b !important;
}

/* line 1, ../sass/_final-css.scss */
#information-for-applicants .tablepress .column-3 .btn-shortcode {
  background: #c11e07 !important;
}

/* line 1, ../sass/_final-css.scss */
#grants-contact input[type=email], #grants-contact input[type=tel], #grants-contact input[type=text], #grants-contact textarea {
  transition: all .5s ease 0s;
  background: rgba(255, 255, 255, 0.7);
}

/* line 1, ../sass/_final-css.scss */
#grants-contact input[type=email]:focus, #grants-contact input[type=tel]:focus, #grants-contact input[type=text]:focus, #grants-contact textarea:focus {
  background: rgba(255, 255, 255, 0.9);
}

@media (max-width: 480px) {
  /* line 1, ../sass/_final-css.scss */
  #grants-contact #grants-contact-instructions {
    padding-top: 0;
  }

  /* line 1, ../sass/_final-css.scss */
  #grants-contact .form-column {
    width: 100%;
  }

  /* line 1, ../sass/_final-css.scss */
  .grants .grant-contact-box .aio-icon-description a {
    word-wrap: break-word;
  }
}
/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist {
  padding: 0 !important;
  height: auto !important;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item {
  padding: 0 !important;
  border-bottom-color: #f1f1f1 !important;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item:last-of-type {
  border-bottom: none !important;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item:nth-of-type(odd) a {
  background: #e1e1e1;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item:nth-of-type(even) a {
  background: #e9e9e9;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #000;
}

/* line 1, ../sass/_final-css.scss */
.members-access-error .tml-rememberme-wrap, .tml-action-links {
  display: none !important;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item a:hover {
  background: #f1f1f1;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item a:visited {
  background: #f1f1f1;
  color: #ccc;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item a img {
  min-width: 55px;
}

/* line 1, ../sass/_final-css.scss */
.videos .cvm-playlist-wrap .cvm-playlist .cvm-playlist-item a .duration {
  padding-left: 5px;
  flex-grow: 2;
  text-align: right;
  padding-right: 5px;
  font-size: 16px;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .dt-btn {
  background: #c11e07 !important;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .ult_tabs .current .ult-span-text {
  font-weight: 300 !important;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .ult_tabs .ult-span-text {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .wpb_tabs .wpb_tabs_nav {
  border-bottom: 2px solid #f35142;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .wpb_tabs .ui-state-default {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin: 0 !important;
  width: 50% !important;
  text-align: center !important;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .wpb_tabs .ui-state-default.ui-tabs-active {
  font-weight: 300 !important;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .tab-style-one.wpb_tabs .wpb_tabs_nav li:not(.ui-tabs-active) {
  background: #f1f1f1 !important;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .vc_toggle_title {
  text-align: center;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .vc_toggle_title h4 {
  font-weight: 700;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .vc_toggle_title .vc_toggle_icon::after, .voting-guidance .vc_toggle_title .vc_toggle_icon::before {
  border-color: #f35142 !important;
}

/* line 1, ../sass/_final-css.scss */
.voting-guidance .vc_toggle_content {
  background: #f1f1f1;
  padding: 15px 25px;
  font-size: 18px;
}

/* line 1, ../sass/_final-css.scss */
.members-access-error {
  font-size: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.members-access-error .tml {
  font-size: 14px !important;
}

/* line 1, ../sass/_final-css.scss */
html {
  -ms-overflow-style: none;
}

/* line 1, ../sass/_final-css.scss */
body {
  background-color: #fff;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

/* line 1, ../sass/_final-css.scss */
.page-inner {
  background: 0 0 !important;
}

/* line 1, ../sass/_final-css.scss */
#main {
  background: #fff;
}

/* line 1, ../sass/_final-css.scss */
.page .wpb_text_column ul li:before {
  color: #f35142;
}

/* line 1, ../sass/_final-css.scss */
.page .wpb_text_column strong {
  font-size: 20px;
}

/* line 1, ../sass/_final-css.scss */
.page .wpb_text_column a {
  text-decoration: none;
}

/* line 1, ../sass/_final-css.scss */
.page .wpb_text_column a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/_final-css.scss */
.page .footnote {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 10px;
}

/* line 1, ../sass/_final-css.scss */
.page .footnote strong {
  font-size: 15px;
}

@media (max-width: 991px) {
  /* line 1, ../sass/_final-css.scss */
  #content > div[class*=vc_custom] {
    padding-bottom: 10px !important;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/_final-css.scss */
  .page-title h1 {
    color: #353844 !important;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/_final-css.scss */
  .voting-guidance .wpb_tabs .ui-state-default {
    width: 100% !important;
    text-align: center !important;
  }

  /* line 1, ../sass/_final-css.scss */
  .page-title {
    min-height: 50px !important;
  }

  /* line 1, ../sass/_final-css.scss */
  .page-title .wf-table {
    height: 50px !important;
  }

  /* line 1, ../sass/_final-css.scss */
  #main {
    padding: 50px 0 !important;
  }
}
/* line 1, ../sass/_final-css.scss */
#sidebar {
  border: 0;
}

/* line 1, ../sass/_final-css.scss */
#sidebar .custom-menu {
  background: #e5e5e5;
  padding: 20px;
  white-space: nowrap;
}

/* line 1, ../sass/_final-css.scss */
#sidebar .custom-menu ul a {
  font-weight: 500;
  color: #353844 !important;
}

/* line 1, ../sass/_final-css.scss */
#sidebar .custom-menu ul a:hover {
  color: #f35142 !important;
}

@media (min-width: 992px) {
  /* line 1, ../sass/_final-css.scss */
  #sidebar .custom-menu {
    max-width: 225px !important;
    width: 350px !important;
  }
}
@media (max-width: 991px) {
  /* line 1, ../sass/_final-css.scss */
  #sidebar {
    margin-top: 0;
  }

  /* line 1, ../sass/_final-css.scss */
  #sidebar .widget_presscore-custom-menu-1 {
    padding-bottom: 60px;
  }
}
/* line 1, ../sass/_final-css.scss */
.masthead {
  background: 0 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.top-bar .mini-login .submit {
  color: #fff;
}

/* line 1, ../sass/_final-css.scss */
.top-bar .mini-login .submit:before {
  content: '\f2bd';
  color: #fff;
  background-image: none !important;
}

/* line 1, ../sass/_final-css.scss */
.header-bar {
  min-height: auto !important;
}

/* line 1, ../sass/_final-css.scss */
.header-bar .branding {
  padding: 10px 0;
}

/* line 1, ../sass/_final-css.scss */
.header-bar .branding a {
  padding-right: 0;
}

/* line 1, ../sass/_final-css.scss */
#phantom {
  background: #fff !important;
}

/* line 1, ../sass/_final-css.scss */
#phantom .menu-item a {
  margin-top: 18px;
}

/* line 1, ../sass/_final-css.scss */
#phantom .sub-nav .menu-item a {
  margin-top: 0;
}

/* line 1, ../sass/_final-css.scss */
#phantom .menu-text {
  color: #353844;
}

@media (max-width: 1050px) {
  /* line 1, ../sass/_final-css.scss */
  #phantom {
    display: none !important;
  }

  /* line 1, ../sass/_final-css.scss */
  #mobile-menu .sub-nav .menu-text {
    white-space: nowrap;
  }
}
/* line 1, ../sass/_final-css.scss */
.gform_wrapper .gsection_title, .section-header {
  position: relative;
  margin-bottom: 35px;
  padding: 0 0 10px;
  margin-top: 55px !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px !important;
  font-weight: 500;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper .white.gsection_title, .section-header.white {
  color: #fff;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper .first.gsection_title, .section-header.first {
  margin-top: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper .gsection_title:after, .section-header:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  content: "";
  color: #fff;
  background-color: #00b9a4;
}

/* line 1, ../sass/_final-css.scss */
.tml {
  margin: 25px auto !important;
  text-align: center;
}

/* line 1, ../sass/_final-css.scss */
.tml-action-links {
  padding: 0;
  margin: 0;
}

/* line 1, ../sass/_final-css.scss */
.tml input[type=text], .tml input[type=password] {
  padding: 10px;
  margin: 0;
  transition: all .3s ease 0s;
}

/* line 1, ../sass/_final-css.scss */
.tml input[type=text]:focus, .tml input[type=password]:focus {
  border-color: #2d3940;
  color: #3e3e3e;
}

/* line 1, ../sass/_final-css.scss */
.tml-rememberme-submit-wrap, .tml-submit-wrap {
  display: block !important;
}

/* line 1, ../sass/_final-css.scss */
.logged-in #theme-my-login .tml-user-links li:nth-of-type(1), .logged-in #theme-my-login .tml-user-links li:nth-of-type(2), body.login .tml-rememberme-wrap {
  display: none;
}

/* line 1, ../sass/_final-css.scss */
.tml input[type=submit] {
  background: #333;
  border-color: #333;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  width: 100%;
  height: auto;
  margin-top: 25px;
  border-radius: 6px;
  padding: 15px;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  transition: all .3s ease 0s;
}

/* line 1, ../sass/_final-css.scss */
.tml input[type=submit]:hover {
  background: #555;
}

/* line 1, ../sass/_final-css.scss */
.tml .tml-user-avatar {
  text-align: center;
}

/* line 1, ../sass/_final-css.scss */
.tml .tml-user-links {
  list-style: none !important;
  padding: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
#theme-my-login .description, #theme-my-login .message, #theme-my-login label {
  font-size: 16px;
  line-height: 1.5;
}

/* line 1, ../sass/_final-css.scss */
#theme-my-login .user-pass1-wrap p {
  margin: 5px 0;
}

/* line 1, ../sass/_final-css.scss */
#theme-my-login .user-pass1-wrap p label {
  font-size: 14px;
}

/* line 1, ../sass/_final-css.scss */
#theme-my-login .message {
  background: #f1f1f1;
  border-color: #e5e5e5;
}

/* line 1, ../sass/_final-css.scss */
body.login .tml-rememberme-wrap label {
  font-size: 14px !important;
}

/* line 1, ../sass/_final-css.scss */
body.login .tml-user-pass-wrap {
  margin-bottom: 20px !important;
}

/* line 1, ../sass/_final-css.scss */
.logged-in #theme-my-login .tml-user-links {
  margin: 0 !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper .gsection {
  border: none;
  padding: 0;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper h2.gsection_title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 35px !important;
  padding: 0 0 10px !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper .gf-project-details h2.gsection_title {
  margin-top: 35px !important;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper input[type=email], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper textarea {
  transition: all .3s ease 0s;
}

/* line 1, ../sass/_final-css.scss */
.gform_wrapper input[type=email]:focus, .gform_wrapper input[type=password]:focus, .gform_wrapper input[type=tel]:focus, .gform_wrapper input[type=text]:focus, .gform_wrapper textarea:focus {
  border-color: #666;
}

/* line 1, ../sass/_final-css.scss */
.gform_confirmation_message {
  margin: 0 !important;
  padding: 65px;
  text-align: center;
  background: #e5e5e5;
  color: #353844 !important;
}

/* line 1, ../sass/_final-css.scss */
.gfield_description {
  margin-top: 5px;
  font-size: 16px !important;
  line-height: 1.1 !important;
}

/* line 1, ../sass/_final-css.scss */
.gfield_description p {
  background: #f1f1f1;
  padding: 15px;
}

/* line 1, ../sass/_final-css.scss */
.gfield_description p strong {
  font-size: 14px;
  line-height: 1.5;
  color: #f35142;
}

/* ==========================================================================
   MIXINS
   ========================================================================== */
/*----- CLEARFIX -----*/
/*----- CENTRE ALIGN -----*/
/*----- HIDE TEXT -----*/
/*----- RESPONSIVE IMAGES -----*/
/*----- OPACITY -----*/
/*----- TEXT OVERFLOW -----*/
/*----- TEXT SELECT -----*/
/*----- TAB FOCUS -----*/
/*----- BOX-SIZING -----*/
/* ==========================================================================
   RESPONSIVE VARIABLES
   ========================================================================== */
/*----- GRID -----*/
/*----- CONTAINER -----*/
/* ==========================================================================
   COLORS
   ========================================================================== */
/*----- GRAY -----*/
/*----- SCAFFOLDING -----*/
/*----- CLIENT -----*/
/*----- BRAND -----*/
/*----- SOCIAL -----*/
/*----- TEXT SELECTION -----*/
/*
::-moz-selection { background: $gray-lighter; color: $gray-darker; text-shadow: none; }
::selection { background: $gray-lighter; color: $gray-darker; text-shadow: none; }
*/
/* line 68, ../sass/1-base/_6-colors.scss */
::-moz-selection {
  background: #2d303a;
  color: #fff;
  text-shadow: none;
}

/* line 69, ../sass/1-base/_6-colors.scss */
::selection {
  background: #2d303a;
  color: #fff;
  text-shadow: none;
}

/* ==========================================================================
   TYPOGRAPHY - VARIABLES
   ========================================================================== */
/* Font Family */
/* Font Size */
/* Line Height */
/* Headings */
/* Colors */
/* ==========================================================================
   TABLES - VARIABLES
   ========================================================================== */
/* Typography */
/* Layout */
/* Colors */
/* ==========================================================================
   PLUGIN: TABLEPRESS
   ========================================================================== */
/*----- VARIABLES -----*/
/* Typography */
/* Colors */
/* Pagination */
/* --- Table Name --- */
/* line 32, ../sass/5-plugins/_tablepress.scss */
.tablepress-table-name {
  text-align: center;
  font-size: 19.75px;
}

/* --- Table Body --- */
/* line 40, ../sass/5-plugins/_tablepress.scss */
.dataTables_wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 35px 0 50px !important;
}

/* --- Show x Rows --- */
/* line 49, ../sass/5-plugins/_tablepress.scss */
.dataTables_length {
  margin-bottom: 10px;
  color: #000;
  font-size: 13px;
  font-weight: 300;
  max-width: 50%;
}
/* line 57, ../sass/5-plugins/_tablepress.scss */
.dataTables_length select {
  padding: 0;
  line-height: 1.6;
  height: auto !important;
  line-height: 1.2 !important;
  border: none;
  border-bottom: 1px dotted #000;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* --- Search --- */
/* line 72, ../sass/5-plugins/_tablepress.scss */
.dataTables_filter {
  margin-bottom: 10px;
  text-align: right;
  max-width: 50%;
  overflow: hidden;
}
/* line 79, ../sass/5-plugins/_tablepress.scss */
.dataTables_filter label {
  color: #000;
  font-size: 13px;
  font-weight: 300;
  border-bottom: 1px dotted #000;
}
/* line 86, ../sass/5-plugins/_tablepress.scss */
.dataTables_filter input[type="search"] {
  position: relative;
  top: -2px;
  padding: 3px 10px;
  margin-left: 5px;
  height: auto !important;
  line-height: 1.5 !important;
  width: 50%;
  line-height: 1.6;
  display: inline-block;
  background: transparent;
  font-size: 14px;
  border: none;
  transition: all 0.5s;
}

/* --- The Table --- */
/* line 114, ../sass/5-plugins/_tablepress.scss */
.tablepress {
  /* edit link */
}
/* line 117, ../sass/5-plugins/_tablepress.scss */
.tablepress caption {
  display: none;
}
/* line 124, ../sass/5-plugins/_tablepress.scss */
.tablepress thead th,
.tablepress tfoot th {
  background: transparent !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6 !important;
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
  color: #000;
  text-transform: uppercase;
}
/* line 137, ../sass/5-plugins/_tablepress.scss */
.tablepress thead th:hover,
.tablepress tfoot th:hover {
  background: transparent !important;
}
/* line 145, ../sass/5-plugins/_tablepress.scss */
.tablepress tbody td {
  font-size: 14px !important;
  line-height: 1.6 !important;
  color: #000;
}
/* line 153, ../sass/5-plugins/_tablepress.scss */
.tablepress tbody .odd td {
  background: rgba(0, 0, 0, 0.05) !important;
}
/* line 160, ../sass/5-plugins/_tablepress.scss */
.tablepress tbody .even td {
  background: transparent !important;
}
/* line 167, ../sass/5-plugins/_tablepress.scss */
.tablepress tbody tr:hover td {
  background: rgba(0, 0, 0, 0.08) !important;
}

/* --- Showing x of y entries --- */
/* line 178, ../sass/5-plugins/_tablepress.scss */
.dataTables_info {
  font-size: 12px;
}

/* --- Table Pagination --- */
/* line 186, ../sass/5-plugins/_tablepress.scss */
.dataTables_paginate {
  font-size: 13px;
}
/* line 192, ../sass/5-plugins/_tablepress.scss */
.dataTables_paginate .paginate_button.disabled {
  display: none;
}
/* line 196, ../sass/5-plugins/_tablepress.scss */
.dataTables_paginate .paginate_button.next, .dataTables_paginate .paginate_button.previous {
  text-decoration: none;
  color: #4d4d4d !important;
}
/* line 201, ../sass/5-plugins/_tablepress.scss */
.dataTables_paginate .paginate_button.next:hover, .dataTables_paginate .paginate_button.previous:hover {
  color: black !important;
}
/* line 208, ../sass/5-plugins/_tablepress.scss */
.dataTables_paginate .paginate_button.previous:before {
  font-family: FontAwesome !important;
  content: "" !important;
  text-shadow: none !important;
  color: #4d4d4d !important;
}
/* line 218, ../sass/5-plugins/_tablepress.scss */
.dataTables_paginate .paginate_button.next:after {
  font-family: FontAwesome !important;
  content: "" !important;
  text-shadow: none !important;
  color: #4d4d4d !important;
}

/* --- Table Description --- */
/* line 232, ../sass/5-plugins/_tablepress.scss */
.tablepress-table-description {
  padding-top: 5px;
  border-top: 1px solid #e6e6e6;
  font-size: 13.75px;
  line-height: 1.1;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* @import "5-plugins/visual-composer"; */

/*# sourceMappingURL=include-child.css.map */
