/* ==========================================================================
   PLUGINS - Easy Social Share
   ========================================================================== */

// @link  https://socialsharingplugin.com/

// remove iconlist
.essb_links,
.essb_displayed_postfloat {
	li::before { 
		display: none !important; // essb override 
	}
}

// edit icon in footer
.essb-customizer-toggle { 
	display: none; 
}

// customise button
.essb-location-customize { 
	display: none !important; // essb override
} 


// single float
#sidebar-left,
#sidebar-social {

	.essb_links {
		
		margin: 0;
		max-width: 48px;
		
		li:before { 
			display: none; 
		}
		
		a:hover {
			text-decoration: none;
			background: $brand-primary !important;
		}
	}
	
	.essb_icon {
		
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		border-bottom: 1px solid #fff;
		
		&:last-of-type { 
			border-bottom: 0; 
		}
		
		&:before {
			position: static;
			font-size: 20px;
		}
	}
}


// send to friend
.essb_mailform {
	
	top: 0 !important;
	left: 0 !important;
	padding: 0 !important;
	width: 100vw !important;
	height: 100vh !important;
	background: rgba(0,0,0,.4) !important;
	justify-content: center;
	align-items: center;
	z-index: 99999999 !important;
	
	.essb_mailform_content {
		
		width: 30%;
		padding: 48px;
		background: $gray-lighter;
		
		& > p {
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 16px;
			font-family: "Merriweather", sans-serif;
			font-style: normal;
		}
	
		input[type="text"],
		textarea {
			min-width: 100% !important;
			max-width: 100% !important;
			padding: 12px;
			box-sizing: border-box;
			border: 2px solid #e5e5e5;
			transition: all 0.3s ease 0s; 
			
			&:focus { 
				border: 2px solid #e5e5e5;
			}
		}
	}
	
			
	.essb_mailform_preview {
		
		margin: 20px 0 12px;
		padding: 12px;
		background: rgba(255,255,255,.25);
		
		br { 
			display: none; 
		}
	}
	
	.essb_mailform_content_buttons {
		
		button {
			
			background: $gray-darker;
			color: #fff;
			font-family: inherit;
			padding: 12px 24px !important;
			
			&:hover { 
				background: $brand-primary !important; 
			} 
		}
	}
}

// enable display flex for form alignment
.essb_mailform[style*="block"] { 
	display: flex !important; 
}

.essb_mailform[style*="none"] { 
	display: none !important; 
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


/* =============================================
   DESKTOP (1199px and below)
   ============================================= */
   
@media ( max-width: 1199px ) {
	
	.essb_mailform {
		.essb_mailform_content { width: 40%; }
	}
}


/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	.essb_mailform {
		.essb_mailform_content { width: 50%; }
	}
	
	.essb_links_list {
		flex-wrap: wrap;
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.essb_mailform {
		.essb_mailform_content { width: 60%; }
	}
}



/* =============================================
   MOBILE LANDSCAPE (575px and below)
   ============================================= */
   
@media ( max-width: 575px ) {
	
	.essb_mailform {
		.essb_mailform_content { width: 70%; }
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.essb_mailform {
		
		.essb_mailform_content { 
			width: 80%; 
			padding: 32px;
		}
		
		.essb_mailform_content_buttons {
			
			button { 
				padding: 8px 16px !important; 
			}
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	.essb_links,
	.essb_displayed_postfloat {
		display: none !important;
	}
}