/* ==========================================================================
   PLUGIN: GDPR COMPLIANCE
   ========================================================================== */

$gdpr-bar-bg:							$brand-primary					!default;
$gdpr-bar-text-color:					#fff							!default;	
$gdpr-bar-button-bg:					transparent						!default;
$gdpr-bar-button-boder:					#fff							!default;	
$gdpr-bar-button-color:					#fff							!default;
$gdpr-bar-button-hover:					$brand-primary					!default;
$gdpr-bar-font-size:					20px							!default;	

$gdpr-prefrences-bg:					#fff							!default;	
$gdpr-prefrences-color:					$gray							!default;	
$gdpr-prefrences-toggle-on:				OliveDrab 						!default;	
$gdpr-prefrences-toggle-off:				Crimson							!default;	
$gdpr-prefrences-overlay:				rgba(0,0,0,.5)					!default;


// COOKIE BAR

#moove_gdpr_cookie_info_bar {
	
	// bottom: 0 !important;
	
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 0 !important;
	
	
	
	-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
	
	// banner height
	.moove-gdpr-info-bar-container {
		padding-top: 25px !important;
		padding-bottom: 25px !important;
		width: 100% !important;
	}
	
	.moove-gdpr-info-bar-content {
		// max-width: c( xl ) !important;
		display: flex;
		justify-content: space-between;
		padding: 0 !important;
	}
	
	
	.moove-gdpr-cookie-notice {
		
		max-width: 50%;
		
		// message
		p {
			font-size: $gdpr-bar-font-size !important;
			line-height: 1.2 !important;
			color: $gdpr-bar-text-color !important;
		}
		
		// info center link
		.change-settings-button {
			
			text-decoration: underline;
			
			&:hover {
				text-decoration: none !important;
				color: #fff !important;
			}
		}
	}
	
	// buttons
	.moove-gdpr-button-holder {
		
		white-space: nowrap;
		
		.moove-gdpr-infobar-allow-all,
		.moove-gdpr-infobar-reject-btn {
			
			border-radius: 0 !important;
			border: 2px solid #fff !important;
			background: $gdpr-bar-button-bg !important;
			// background: $brand-primary !important;
			color: $gdpr-bar-button-color !important;
			transition: all 0.3s ease 0s; 
			
			&:hover {
				// border: 2px solid #fff !important;
				background: $gdpr-bar-button-boder !important;
				color: $gdpr-bar-button-hover;
			}
		}
	}
}





.page,
.single {
	
	#moove_gdpr_cookie_info_bar {
		
		background: $dark-blue !important;
		
		.moove-gdpr-button-holder {
			
			.moove-gdpr-infobar-allow-all,
			.moove-gdpr-infobar-reject-btn {
				
				&:hover {
					color: $dark-blue !important;
				}
			}
		}
	}
}


.page.home {
	
	#moove_gdpr_cookie_info_bar {
		
		background: $gdpr-bar-bg !important;
		
		.moove-gdpr-button-holder {
			
			.moove-gdpr-infobar-allow-all,
			.moove-gdpr-infobar-reject-btn {
				
				&:hover {
					color: $gdpr-bar-button-hover !important;
				}
			}
		}
	}
}



// PREFRENCES MODAL

.moove_gdpr_cookie_modal_open {
	
	background: $gdpr-prefrences-overlay !important;
	
	// close icon
	.moove-gdpr-modal-close {
		
		.moovegdpr-arrow-close {}
	}
	
	// modal content container
	.moove-gdpr-modal-right-content {
		
		background: $gdpr-prefrences-bg !important;
		
		
		// modal title
/*
		.moove-gdpr-modal-title {
			color: $gdpr-prefrences-color;
		}
*/
		
		p,
		.tab-title {
			color: $gdpr-prefrences-color !important;
		}
		
		// modal content
		.main-modal-content {
			
			// toggle button
			.moove-gdpr-status-bar {

				.switch {
						
					.slider {
						
						background: $gdpr-prefrences-toggle-on !important;
						
						&:after {
							color: $gdpr-prefrences-toggle-on !important;
						}
					}
				}
				
				
				&.checkbox-selected {

					.switch {
							
						.slider {
							
							background: $gdpr-prefrences-toggle-off !important;
							
						
							&:after {
								color: $gdpr-prefrences-toggle-off !important;
							}
						}
					}
					
					
					&.gdpr-checkbox-disabled {
						
						.switch {
								
							.slider {
								
								background: $gray !important;
								
							
								&:after {
									color: $gray !important;
								}
							}
						}
					}
				}
			}
		}
		
		
		// modal footer
		.moove-gdpr-modal-footer-content {
			
			background: transparent !important;
			
			// show all button
			.moove-gdpr-modal-allow-all {
				
			}
			
			// plugin branding
			.moove-gdpr-branding-cnt {
				display: none !important;
			}
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	#moove_gdpr_cookie_info_bar {
		
		.moove-gdpr-cookie-notice {
			max-width: 75%;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#moove_gdpr_cookie_info_bar {
		
		.moove-gdpr-cookie-notice {
			max-width: 100%;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}



// fix box shadow issue
@media (max-width: 999px) and (min-width: 768px) {
	
	#moove_gdpr_cookie_modal {
		
		.moove-gdpr-modal-content {
			transform: scale(1) !important;
		}
	}
}




/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	#moove_gdpr_cookie_info_bar {
		display: none !important;
	}
}