/* ==========================================================================
   TEMPLATE: PAGE
   ========================================================================== */

.page {

	#intro-paragraph {

		p {
			font-family: $fg-font-family-serif;
			font-size: 22px;
// 			font-style: italic;
			margin-bottom: 32px;
			text-align: center;
		}
	}
	
	.wpb_accordion {
		
		&.definition-and-terms {
			
			.wpb_accordion_header {
				
				span {
					font-weight: 700;
					font-size: 18px;
				}
			}
			
			.wpb_accordion_content {
				
				padding: 15px 0;
				
				p {
					font-size: 18px;
				}
			}
		}
	}
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}