/* ==========================================================================
   SECTION: WIDGETS - RSS
   ========================================================================== */
	
.widget.widget_rss {
	
	.widget-title {
		
		& > a {
			
			display: inline;
			
			img.rss-widget-icon { 
				display: inline;
				width: 14px !important;
			}	
		}
		
		// WIDGET TITLE
		a + a {}
	}
	
	
	li {
		
		padding-top: $fg-post-entry-s;
		padding-bottom: $fg-post-entry-s;
		
		&:first-of-type {
			padding-top: 0;
		}
		
		&:last-of-type {
			padding-bottom: 0;
		}
		
		
		// HEADLINE
		a { 
			display: block;
			margin-bottom: $fg-post-entry-xs;
			font-weight: 700;
		}
		
		// DATE
		span { 
			display: block;
			margin-bottom: $fg-post-entry-xs;
			font-size: $fg-font-size-s;
		}
		
		// RSS CONTENT
		.rssSummary {}
		
		// AUTHOR
		cite { 
			display: block;
			margin-top: $fg-post-entry-xs;
		}	
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}