/* ==========================================================================
   SECTION: WIDGETS - TAG CLOUD
   ========================================================================== */

.widget_tag_cloud {
	
	// hides invisible empty nodes
	font-size: 0;

	.tagcloud {
		padding-bottom: 0;
	}
	
	.tag-cloud-link {
		
		display: inline-block;
		font-size: $fg-font-size-s !important;
		line-height: $line-height-small;
		border: 1px solid $gray-light;
		border-radius: $border-radius-base;
		padding: 2px 6px 4px;
		margin: 0 3px 3px 0;
		
		&:hover {
			background: $gray-lighter;
			text-decoration: none;	
		}
		
		span.tag-link-count {
			color: $gray-light;
			font-size: 11px;
		}
	}
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}