/* ==========================================================================
   DEV
   ========================================================================== */



#main {
	background: #ffffff url("http://localhost/emergencefoundation.uk/assets/uploads/2019/03/f5f5f5.png") center top no-repeat fixed;
	background-size: cover;
}


.single-post {
	
	#content {
		padding: 60px;
		background: rgba(255,255,255,.7);
	}
} 




.page-id-1697 {
	
	.masthead {
		// background: url(../images/backgrounds/ef-home-header.jpg) center top no-repeat !important;
		// background-size: cover !important;
		
		background: url(../images/backgrounds/gradient-180px.png) center top no-repeat !important;
		// background: rgba(53,56,68,.5) !important;
		// background: rgba(243,81,66,.5) !important;
		// background: rgba(255,255,255,.5) !important;
		
/*
		#primary-menu {
			
			
			
			& > .menu-item {
				
				a {
					margin-bottom: 0 !important;
					
					padding: 8px 15px !important;
					margin: 5px 10px 5px 10px !important;
					
					transition: all 0.3s ease 0s; 
				}
				
				&:hover {
					
					a {
						
						background: #fff !important;
						color: $dark-blue !important;
					}
				}
			}
		}
*/
		
	}
	
	.top-bar {
		
		position: absolute !important;
		max-width: 100% !important;
		width: 100% !important;
		left: 0 !important;
		
		.right-widgets {
			position: relative !important;
			right: 50px !important;
		}
		
		.mini-login {
			// margin-top: -10px;
			padding: 5px 15px;
			//background: rgba(255,255,255,.25);
			border: 1px solid rgba(255,255,255,1);
			background: #fff !important;
			
			transition: all 0.3s ease 0s; 
			
			a {
				transition: all 0.3s ease 0s;
				color: $dark-blue !important;
				font-weight: 700 !important;
			}
			
			&:hover {
				
				background: #fff !important;
				opacity: 1 !important;
				
				a {
					color: $brand-primary !important;
				}
			}
		}
		
		.submit {
			
			&:before {
				display: none;
			}
			
			i {
				
				&:before {
					font-size: 13px !important;
					padding-right: 5px !important
				}
				
				// font-size: 14px !important;
				// padding-left: 5px !important
			}
		}
	}
	


		
	.header-bar {
		padding: 25px 0 !important;
	}
	
	/* logo */
	.branding,
	.mobile-branding {
		display: flex !important;
	}
	
	.branding {
		
		padding-bottom: 0 !important;
		
		a {
			
			background: url(../images/backgrounds/logo-ef-67px-outline.png) center center no-repeat !important;
			background-size: contain !important;
			
			img {
				visibility: hidden;
			}
		}
	}
	
	#main {
		background: #fff !important;
	}
	
	
	
	
	
	#main-slideshow {
		
		.ef-hero-title {
			
			span {
				// @extend .include-padded-text;
				


				
			}
			
			
				font-size: 26px !important;
				text-transform: uppercase !important;

				color: $dark-blue !important;
				background: #fff !important;
				
				display: inline-block !important;;
				white-space: nowrap !important;
				line-height: 1.5;
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				padding-left: 15px !important;
				padding-right: 15px !important;
				margin-bottom: 2px !important;
								
				transition: all 0.3s ease 0s; 
					 	
				-webkit-box-shadow: -10px 0 0 #fff, 10px 0 0 #fff;
				   -moz-box-shadow: -10px 0 0 #fff, 10px 0 0 #fff;
					 	box-shadow: -10px 0 0 #fff, 10px 0 0 #fff;
				
				-webkit-box-decoration-break: clone;
					-ms-box-decoration-break: clone;
					 -o-box-decoration-break: clone;
					 	box-decoration-break: clone;
			
			

				 	
/*
			&:hover {
				
				color: #fff;
				background: $brand-primary;
					 	
				-webkit-box-shadow: -10px 0 0 $brand-primary, 10px 0 0 $brand-primary;
				   -moz-box-shadow: -10px 0 0 $brand-primary, 10px 0 0 $brand-primary;
					 	box-shadow: -10px 0 0 $brand-primary, 10px 0 0 $brand-primary;
			}
*/
			
			
		}
		
		
		.ef-hero-excerpt {
			// @extend .include-padded-text;
			
			span {
				
				background: $dark-blue !important;
				color: #fff !important;
				
				display: inline-block !important;;
				white-space: nowrap !important;
				line-height: 1.5;
				padding-top: 3px !important;
				padding-bottom: 3px !important;
				padding-left: 15px !important;
				padding-right: 15px !important;
				margin-bottom: 1px !important;
				
				
				// text-transform: uppercase !important;
				
				transition: all 0.3s ease 0s; 
					 	
				-webkit-box-shadow: -10px 0 0 $dark-blue, 10px 0 0 $dark-blue;
				   -moz-box-shadow: -10px 0 0 $dark-blue, 10px 0 0 $dark-blue;
					 	box-shadow: -10px 0 0 $dark-blue, 10px 0 0 $dark-blue;
				
				-webkit-box-decoration-break: clone;
					-ms-box-decoration-break: clone;
					 -o-box-decoration-break: clone;
					 	box-decoration-break: clone;
				
				
			}
		}
	}
	
	
	
	.ef-home-intro {
		
		p {
			font-family: $fg-font-family-sans-serif;
			font-size: 22px;
			font-weight: 300;
			line-height: 1.5;
			// color: #999;
			text-align: center;
			padding: 15px 45px 0;
		}
	}
	
	
	#projects {
		
		article {
			
			transition: all 0.6s ease 0s;
			background: $dark-blue;
			
			.entry-title {
				
				a {
					transition: all 0.6s ease 0s;
					color: #fff !important;
				}
			}
			
			.entry-excerpt {
				
				p {
					transition: all 0.6s ease 0s;
					color: #fff !important;
				}
			}
			
			.details-type-link {
				
				transition: all 0.6s ease 0s;
				color: #fff !important;
				
				i {
					display: none;
				}
			}
		}
		
		
		article:hover {
				
			//background: #f5f5f5;
			background: darken( $dark-blue, 10% ) !important;
			
			.entry-title {
				
				a {
					//color: $dark-blue !important;
				}
			}
			
			.entry-excerpt {
				
				p {
					//color: $dark-blue !important;
				}
			}
			
			.details-type-link {
				
				//color: $dark-blue !important;
				
				i {
					display: none;
				}
			}
					
		}
		
		
		.owl-dot:not(.active) {
			
			span {
				background: #b5b5b5 !important;
			}
		}
		

	}
	
}





.page-id-1767 {
	
	.top-bar {
		
/*
		position: absolute !important;
		max-width: 100% !important;
		width: 100% !important;
		left: 0 !important;
*/
		
/*
		.right-widgets {
			position: relative !important;
			right: 50px !important;
		}
*/
		
		.mini-login {
			// margin-top: -10px;
			padding: 5px 15px;
			//background: rgba(255,255,255,.25);
			border: 1px solid rgba(255,255,255,1);
			
			transition: all 0.3s ease 0s; 
			
			a {
				transition: all 0.3s ease 0s; 
			}
			
			&:hover {
				
				background: #fff !important;
				opacity: 1 !important;
				
				a {
					color: $brand-primary !important;
				}
			}
		}
		
		.submit {
			
			&:before {
				display: none;
			}
			
			i {
				
				&:before {
					font-size: 13px !important;
					padding-right: 5px !important
				}
				
				// font-size: 14px !important;
				// padding-left: 5px !important
			}
		}
	}
	
	
	
	
	.header-bar {
// 		padding: 0 !important;
	}
	
	/* logo */
	.branding,
	.mobile-branding {
		display: none !important;
	}
	
	.branding {
// 		padding-bottom: 0 !important;
	}
	
	#main {
		background: #fff !important;
	}

	

	.ef-home-intro {
		
		p {
			font-family: $fg-font-family-sans-serif;
			font-size: 23px;
			font-weight: 600;
			line-height: 1.4;
			// color: #999;
			text-align: center;
			color: $dark-blue;
		}
	}

	
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.home {
		
		.ef-button {
			margin-bottom: 20px;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.home {
		
		#content {
			
			.vc_col-sm-2 {
				display: none !important;
			}
			
			.vc_col-sm-8 {
				
				& > .vc_column-inner  {
					padding-top: 0 !important;
				}
			}
		}
		
		#home-intro {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.6;
			padding: 0 20px;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}